/* Lode Dark */
.theme-dark {
        
  /* Lode Specific */
--alt-color: 52, 180, 159 !important; /* RGB */
--alt-color2: #34b49f !important; /* HEX */
         
--icons-color: #f0fff6 !important;
--icons-color-hover: #58d38b !important;

--green-color: #58d38b !important;
--green-bar-on: var(--green-color) !important;
--green-bar-bg: #151925 !important;
--green-slider-on: var(--green-color) !important;
--green-slider-off: #06eff7c4 !important;
--green-slider-dot: #f0fff6 !important;

/* Icons */
--home-icon: url(https://discord.com/assets/89576a4bb71f927eb20e8aef987b499b.svg) !important;

/* Other */
--scrollbars: none !important; /* none or unset */
--call-bg: url() !important; /* None To Disable */
--call-bg-colour: var(--background-accent) !important; /* Image Overwrites */

  /* Spotify Crenshaw Plugin */
--album-blur-amount: 4px !important;
--subtext-color: #000 !important;

  /* Keeping Consistancy With Discord */ 
--serverlist-background: var(--background-tertiary) !important;
--memberlist-background: #0a151a !important;
--win-titlebar: var(--background-tertiary) !important;

  /* Making Things Round */ /* Four Numbers = Four Corners */
--modal-border-radius: 15px 15px 15px 15px !important;
--floating-border-radius: 15px 15px 15px 15px !important;
--expanded-border-radius: 15px 15px 15px 15px !important;
--hover-border-radius: 10px 10px 10px 10px !important;
--avatar-border-radius: 11.5px 11.5px 11.5px 11.5px !important; /* Serverlist Too */
--avatar-border-radius-hover: 5.5px 5.5px 5.5px 5.5px !important;
--chat-text-border-radius: 12px 12px 12px 12px !important;

 /* ROUND THINGS */
--borders-radius: 12px !important;
--borders-radius-right: 6px !important;
--borders-radius-left: 8px !important;
--borders-radius-bottom: 8px !important;
--borders-radius-top: 6px !important;

--titlebar-borders-radius: 12px !important;
--titlebar-borders-radius-right: 12px !important;
--titlebar-borders-radius-left: 8px !important;
--titlebar-borders-radius-bottom: 10px !important;
--titlebar-borders-radius-top: 8px !important;

--chatbox-border-radius: 22px !important;

--spotify-right: 1.7rem !important;

/* Watermark */
--watermark-text: "LODE" !important;
--watermark-text-top: 14px !important;
--watermark-text-left: 3.4rem !important;
--watermark-gradient: 270deg, rgb(132, 253, 207), rgb(80, 253, 152) !important;

 /* Header Colours Colors */
--modal-normal-primary-color: var(--background-secondary) !important;
--modal-normal-secondary-color: var(--background-secondary) !important;
--spotify-color: var(--alt-color2) !important;
--playing-color: var(--alt-color2) !important;
--streaming-color: #613aa3 !important;

 /* Header Colors */
--header-primary: #f0fff6 !important;
--header-secondary: #a39897 !important;

 /* Powercord Toast Colors */
--toast-background: var(--background-primary)  !important;
--toast-header: var(--background-secondary)  !important;
--toast-content: var(--background-primary)  !important;
--toast-box-shadow: rgba(24, 21, 21, 0.932)  !important;
--toast-border: rgba(21, 22, 22, 0) !important;
--toast-gradient: to right, rgb(64, 102, 172), rgb(53, 192, 127) !important;

 /* Text Colours */
--text-normal: #f8fffb !important;
--text-muted: #a39897 !important;
--text-link: var(--alt-color2) !important;
--channels-default: #f8fffb !important;
--interactive-normal: #f0fff6 !important;
--interactive-hover: #ffffff !important;
--interactive-active: #fff !important;
--interactive-muted: #53615b !important;

 /* Chat */
--channeltextarea-background: var(--background-primary) !important;
--channeltextarea-background-hover: var(--background-secondary) !important;

 /* Background Colours */
--background-primary: #0F2229 !important;
--background-titlebar: #191f308f !important;
--background-primary-alt: #0F2229 !important;
--background-secondary: #203A43 !important;
--background-secondary-alt: #203A43 !important;
--background-tertiary: #162a31 !important;
--background-accent: var(--alt-color2) !important;
--background-accent-gradient: var(--alt-color2) !important;
--background-floating: #162a31 !important;

 /* Hovering Colours */
--background-modifier-hover: rgba(56, 168, 131, 0.199) !important;
--background-modifier-active: rgba(56, 168, 112, 0.507) !important;
--background-modifier-selected: rgba(56, 168, 112, 0.178) !important;
--background-modifier-accent: rgba(56, 168, 134, 0) !important;
--background-message-hover: transparent !important;

 /* Mentioned  Colours */
--background-mentioned: rgba(56, 168, 131, 0.199) !important;
--background-mentioned-hover: rgba(56, 168, 131, 0.329) !important;
--background-mentioned-bar: var(--background-accent) !important;

--background-help-warning: rgba(56, 168, 151, 0.233) !important;
--background-help-info: rgba(244, 8, 0, 0.164) !important;

 /* Scrollbar Colours */
--scrollbar-thin-thumb: rgba(56, 168, 151, 0.397) !important;
--scrollbar-thin-track: transparent !important;
--scrollbar-auto-thumb: rgba(56, 168, 151, 0.363) !important;
--scrollbar-auto-track: rgba(56, 168, 151, 0.363) !important;
--scrollbar-auto-scrollbar-color-thumb: rgba(56, 168, 151, 0.384) !important;

/* Box Shadow On Floating Elements Colours */
--elevation-stroke: 0 0 0 1px rgba(22, 26, 26, 0.329) !important;
--elevation-low: 0 1px 0 rgba(22, 26, 25, 0.329) !important;
--elevation-medium: 0 4px 4px rgba(22, 26, 25, 0.329) !important;
--elevation-high: 0 8px 16px rgba(22, 26, 25, 0.329) !important;

/* Other */
--radio-group-dot-foreground: var(--alt-color) !important;
}
