:root {

    /* Gradients */
    --default-gradient: 315deg, #854542 0%, #753a38 74% !important;
    --special-gradient: 315deg, #8980F0 0%, #D577F0 74% !important;
    --red-gradient: 315deg, #854542 0%, #753a38 74% !important;
    --yellow-gradient: 315deg, #C2831B 0%, #FFB740 74% !important;
    --green-gradient: 315deg, #58d38b 0%, #58d38b 74% !important;
    --grey-gradient: 315deg, #432520 0%, #28434d 74% !important;
    --white-gradient: 315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 74% !important;
    
    /* Transitions */
    --font-normal: 500 !important;
    --font-hover: bold !important;
    --font-size-hover: 15px !important;
    --hover-transition: 0.1s linear !important;
    --transform-normal: scale(1) !important;
    --hover-transform: scale(1.15) !important;
    --setting-hover-transform: scale(1.025) !important;
    --button-hover-transform: scale(1.03) !important;

    /* Radial Status */
    --rs-small-spacing: 0px !important;  /* Spacing between avatar and status | MUST end in px */
    --rs-width: 2px !important;  /* Width/thickness of status border */
    --rs-avatar-shape: var(--avatar-border-radius) !important;  /* 50% for round - 0% for square */
    --rs-online-color: var(--alt-color2) !important;  /* Colour for online status */
    --rs-idle-color: #faa61a !important;  /* Colour for idle status */
    --rs-dnd-color: #f04747 !important;  /* Colour for dnd status */
    --rs-offline-color: #636b75 !important;  /* Colour for offline status */
    --rs-streaming-color: #643da7 !important;  /* Colour for streaming status */
    --rs-invisible-color: #747f8d !important;  /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-phone-visible: block !important; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
    --rs-phone-color: var(--rs-online-color) !important; /* Colour of the ring and phone icon when a user is on their phone |  */
  }

/* Lode Dark */
.theme-dark {
        
  /* Lode Specific */
--alt-color: 223, 111, 107 !important; /* RGB */
--alt-color2: #df6f6b !important; /* HEX */
         
--icons-color: #eef3f2 !important;
--icons-color-hover: #aa4c49 !important;

--yellow-color: #aa4c49 !important;
--green-color: #aa4c49 !important;
--green-bar-on: var(--green-color) !important;
--green-bar-bg: #151925 !important;
--green-slider-on: var(--green-color) !important;
--green-slider-off: #aa4c49 !important;
--green-slider-dot: #fff !important;

/* Icons */
--home-icon: url(https://discord.com/assets/89576a4bb71f927eb20e8aef987b499b.svg) !important;

/* Other */
--call-bg: url(https://i.imgur.com/iCMBq4x.jpg) !important; /* None To Disable */
--call-bg-colour: var(--background-accent) !important; /* Image Overwrites */

  /* Spotify Crenshaw Plugin */
--album-blur-amount: 4px !important;
--subtext-color: #000 !important;

  /* Keeping Consistancy With Discord */ 
--serverlist-background: var(--background-tertiary) !important;
--memberlist-background: #472222 !important;
--win-titlebar: var(--background-tertiary) !important;

  /* Making Things Round */ /* Four Numbers = Four Corners */
--modal-border-radius: 15px 15px 15px 15px !important;
--floating-border-radius: 15px 15px 15px 15px !important;
--expanded-border-radius: 15px 15px 15px 15px !important;
--hover-border-radius: 10px 10px 10px 10px !important;
--avatar-border-radius: 11.5px !important; /* Serverlist Too */
--avatar-border-radius-hover: 5.5px 5.5px 5.5px 5.5px !important;
--chat-text-border-radius: 12px 12px 12px 12px !important;

 /* ROUND THINGS */
--borders-radius: 12px !important;
--borders-radius-right: 6px !important;
--borders-radius-left: 8px !important;
--borders-radius-bottom: 8px !important;
--borders-radius-top: 5px !important;

--titlebar-borders-radius: 12px !important;
--titlebar-borders-radius-right: 12px !important;
--titlebar-borders-radius-left: 8px !important;
--titlebar-borders-radius-bottom: 10px !important;
--titlebar-borders-radius-top: 8px !important;

--chatbox-border-radius: 22px !important;

--spotify-right: 1.7rem !important;

/* Watermark */
--watermark-text: "LODE" !important;
--watermark-version: "v1.0.4" !important;
--watermark-text-top: 14px !important;
--watermark-text-left: 3.4rem !important;
--watermark-gradient: 270deg, rgb(202, 70, 70), rgb(192, 132, 53) !important;

 /* Header Colours Colors */
--modal-normal-primary-color: var(--background-secondary) !important;
--modal-normal-secondary-color: var(--background-secondary) !important;
--spotify-color: var(--alt-color2) !important;
--playing-color: var(--alt-color2) !important;
--streaming-color: #4d2b86 !important;

 /* Header Colors */
--header-primary: #EAE1DF !important;
--header-secondary: rgb(159, 161, 163) !important;

 /* Powercord Toast Colors */
--toast-background: var(--background-primary)  !important;
--toast-header: var(--background-secondary)  !important;
--toast-content: #252B3B  !important;
--toast-box-shadow: rgba(24, 21, 21, 0.932)  !important;
--toast-border: rgba(21, 22, 22, 0) !important;
--toast-gradient: to right, rgb(172, 64, 64), rgb(192, 132, 53) !important;

 /* Text Colours */
--text-normal: #f7f4f4 !important;
--text-muted: #a39897 !important;
--text-link: var(--alt-color2) !important;
--channels-default: #ddd5d3 !important;
--interactive-normal: #EAE1DF !important;
--interactive-hover: #EAE1DF !important;
--interactive-active: #fff !important;
--interactive-muted: #505355 !important;

 /* Chat */
--channeltextarea-background: var(--background-primary) !important;
--channeltextarea-background-hover: var(--background-secondary) !important;

 /* Background Colours */
--background-primary: #472222 !important;
--background-titlebar: #572b2b !important;
--background-primary-alt: #472222 !important;
--background-secondary: #572b2b !important;
--background-secondary-alt: #572b2b !important;
--background-tertiary: #301818 !important;
--background-accent: var(--alt-color2) !important;
--background-accent-gradient: var(--alt-color2) !important;
--background-floating: #2b3341 !important;

 /* Hovering Colours */
--background-modifier-hover: rgba(65, 31, 31, 0.432) !important;
--background-modifier-active: rgba(88, 36, 36, 0.596) !important;
--background-modifier-selected: rgba(65, 31, 31, 0.404) !important;
--background-modifier-accent: rgba(65, 31, 31, 0.356) !important;
--background-message-hover: transparent !important;

 /* Mentioned  Colours */
--background-mentioned: rgba(65, 31, 31, 0.397) !important;
--background-mentioned-hover: rgba(65, 31, 31, 0.637) !important;
--background-mentioned-bar: var(--background-accent) !important;

--background-help-warning: rgba(116, 49, 49, 0.363) !important;
--background-help-info: rgba(244, 8, 0, 0.164) !important;

 /* Scrollbar Colours */
--scrollbar-thin-thumb: rgba(65, 31, 31, 0.432) !important;
--scrollbar-thin-track: transparent !important;
--scrollbar-auto-thumb: rgba(65, 31, 31, 0.432) !important;
--scrollbar-auto-track: rgba(65, 31, 31, 0.432) !important;
--scrollbar-auto-scrollbar-color-thumb: rgba(65, 31, 31, 0.432) !important;

/* Box Shadow On Floating Elements Colours */
--elevation-stroke: 0 0 0 1px rgba(22, 24, 26, 0.329) !important;
--elevation-low: 0 1px 0 rgba(22, 25, 26, 0.329) !important;
--elevation-medium: 0 4px 4px rgba(22, 25, 26, 0.329) !important;
--elevation-high: 0 8px 16px rgba(22, 25, 26, 0.329) !important;

/* Other */
--radio-group-dot-foreground: var(--alt-color) !important;
}
