/**
 * @name Lode
 * @author Leeprky#2063
 * @version 0.1.3
 * @description Personal Theme for leeprky#2063
 * @source https://github.com/leeprky/lode
*/
/* ^ betterdiscord compatability ^ */

/* Lode Source Import */ 
@import url(https://raw.githack.com/leeprky/Lode/main/source/lode.source.css);
@import url(https://raw.githack.com/leeprky/FullyThemedDiscord/main/FullyThemedDiscord.theme.css);

/*  ------------------------------------------

            Lode Customisable Configuration
                        v0.1.5
                  - leeprky#2063 -

    ------------------------------------------  */

/* Extra Variables Import */
/* blurple-alt-colour */ /* --blurple-alt-colour */
@import url(https://raw.githack.com/leeprky/MyThemesBasesStuffYeah/lode/alt-color.css);
/* Lode Variables */
@import url(https://raw.githack.com/leeprky/Lode/main/source/extra-variables.css);

.theme-dark {
        
        /* Lode Specific Colors */
    --alt-color: 214, 137, 018;
    --green-color: 014, 237, 018; /* Not Functional Yet */

        /* Keeping Consistancy With Discord */ 
    --serverlist-background: var(--background-secondary);
    --memberlist-background: var(--background-primary);
    --win-titlebar: var(--background-tertiary);

         /* Making Things Round */
    --modal-border-radius: 15px 15px 15px 15px;
    --floating-border-radius: 15px 15px 15px 15px;
    --expanded-border-radius: 15px 15px 15px 15px;
    --hover-border-radius: 10px 10px 10px 10px;

        /* Header Colours Colors */
        
    --modal-normal-color: #080808;
    --modal-normal-secondary-color: #080808;
    --spotify-color: #D68912;
    --playing-color: #7289DA;
    --streaming-color: #593695;

        /* Header Colors */
    --header-primary: #fff;
    --header-secondary: #b9bbbe;

        /* Powercord Toast Colors */
    --toast-background: #1C1E20;
    --toast-header: #121314;
    --toast-box-shadow: rgba(24, 21, 21, 0.932);
    --toast-border: rgba(21, 22, 22, 0);

        /* Text Colours */
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;

        /* Background Colours */
    --background-primary: #121314;
    --background-primary-alt: #090a0a;
    --background-secondary: #1c1e20;
    --background-secondary-alt: #1c1e20;
    --background-tertiary: #1c1e20;
    --background-accent: #D68912;
    --background-floating: #151618;

        /* Hovering Colours */
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-message-hover: rgba(4,4,5,0.07);

        /* Mentioned  Colours */
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);

    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);

        /* Scrollbar Colours */
    --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: #2e3338;
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;

       /* Box Shadow On Floating Elements Colours */
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);

    /* Other */
    --radio-group-dot-foreground: var(--alt-color);
    --channeltextarea-background: #0e0e0f;
}

/* Lode Extras */
.scroller-1Bvpku {
    background-color: var(--serverlist-background);
}
.members-1998pB, .members-1998pB>div {
    background-color: var(--memberlist-background);
}

/* Optionals */
/* WindowsInTopBar */
.typeWindows-1za-n7{
    width:calc(100% - calc(72px + 240px));
    position: fixed;
    right: 0px;
    height:46px;
    z-index: 2;
    background: transparent!important;margin:0px;
  }
  .platform-win .children-19S4PO,.platform-win .toolbar-1t6TWx{
    z-index:1;
  }
  .winButton-iRh8-Z{top:12px;left:-4px;z-index:67438274832798;}
  .wordmarkWindows-1v0lYD{display: none;}
  .platform-win .sidebar-2K8pFh {border-radius: 0px!important;}
  .platform-win .title-3qD0b-{
    width:calc(100% - 80px);
  }
  .typeWindows-1za-n7 {!important;margin:1px;}

.titleBar-AC4pGV > *:nth-child(2):hover {background-color: #f771715e;}
.titleBar-AC4pGV > *:nth-child(3):hover {background-color: #f0ca574f;}
.titleBar-AC4pGV > *:nth-child(4):hover {background-color: #48c04879;}
.container-1r6BKw.themed-ANHk51 {
    background: transparent;
}
/* --- */

.streamerModeEnabledBtn-2ZJ2eq {background-color: var(--streaming-color);}

/* Unread Pill */
.isUnread-3Ef-o9, .unreadPill-2HyYtt {border-color: var(--background-accent); background-color: var(--background-accent) }
.isUnread-3Ef-o9 .content-1o0f9g {color: var(--background-accent) }
.unreadPillCapStroke-7rkHbg { fill: var(--background-accent); color: var(--background-accent) }

/* Notice Bar On Chat */
.notice-3uyY6c, .notice-3bPHh- {
    background-color: var(--background-accent);
    top: 80px;
    opacity: 0.9;
    border-radius: 1px 1px 12px 12px;
    left: 240px;
    margin-right: 494px;
    margin-top: -35px;
}
