.theme-dark {
        
  /* Lode Specific */
--alt-color: 255, 18, 172 !important; /* RGB */
--alt-color2: #ff12ac !important; /* HEX */
         
--icons-color: #eef3f2 !important;
--icons-color-hover: #1bb69f !important;

--green-color: #4aac8f !important;
--green-bar-on: var(--green-color) !important;
--green-bar-bg: #151925 !important;
--green-slider-on: var(--green-color) !important;
--green-slider-off: #19d5e280 !important;
--green-slider-dot: #fff !important;

/* Other */
--scrollbars: none !important; /* none or unset */
--call-bg: url(https://i.imgur.com/7QJkSkJ.png) !important; /* None To Disable */
--call-bg-colour: var(--background-accent) !important; /* Image Overwrites */

  /* Spotify Crenshaw Plugin */
--album-blur-amount: 4px !important;
--subtext-color: #000 !important;

  /* Keeping Consistancy With Discord */ 
--serverlist-background: var(--background-tertiary) !important;
--memberlist-background: #1d222e !important;
--win-titlebar: var(--background-tertiary) !important;

  /* Making Things Round */ /* Four Numbers = Four Corners */
--modal-border-radius: 15px 15px 15px 15px !important;
--floating-border-radius: 15px 15px 15px 15px !important;
--expanded-border-radius: 15px 15px 15px 15px !important;
--hover-border-radius: 10px 10px 10px 10px !important;
--avatar-border-radius: 11.5px 11.5px 11.5px 11.5px !important; /* Serverlist Too */
--avatar-border-radius-hover: 5.5px 5.5px 5.5px 5.5px !important;
--chat-text-border-radius: 12px 12px 12px 12px !important;

 /* ROUND THINGS */
--borders-radius: 12px !important;
--borders-radius-right: 6px !important;
--borders-radius-left: 8px !important;
--borders-radius-bottom: 8px !important;
--borders-radius-top: 5px !important;

--titlebar-borders-radius: 12px !important;
--titlebar-borders-radius-right: 12px !important;
--titlebar-borders-radius-left: 8px !important;
--titlebar-borders-radius-bottom: 10px !important;
--titlebar-borders-radius-top: 8px !important;

--chatbox-border-radius: 22px !important;

--spotify-right: 1.7rem !important;

/* Watermark */
--watermark-text: "LODE" !important;
--watermark-text-top: 14px !important;
--watermark-text-left: 3.4rem !important;
--watermark-gradient: 270deg, #c02086, rgb(250, 149, 162) !important;

 /* Header Colours Colors */
--modal-normal-primary-color: var(--background-secondary) !important;
--modal-normal-secondary-color: var(--background-secondary) !important;
--spotify-color: var(--alt-color2) !important;
--playing-color: var(--alt-color2) !important;
--streaming-color: #4d2b86 !important;

 /* Header Colors */
 --header-primary: #fff !important;
 --header-secondary: #eee !important;

 /* Powercord Toast Colors */
--toast-background: var(--background-primary) !important;
--toast-header: var(--background-secondary) !important;
--toast-content: var(--background-primary) !important;
--toast-box-shadow: rgba(24, 21, 21, 0.932) !important;
--toast-border: rgba(21, 22, 22, 0) !important;

 /* Text Colours */
 --text-normal: #e9e9e9 !important;
 --text-muted: #808080 !important;
--text-link: var(--alt-color2) !important;
--channels-default: #ddd5d3 !important;
--interactive-normal: #EAE1DF !important;
--interactive-hover: #EAE1DF !important;
--interactive-active: #fff !important;
--interactive-muted: #86425d !important;

 /* Chat */
--channeltextarea-background: var(--background-primary) !important;
--channeltextarea-background-hover: var(--background-secondary) !important;

 /* Background Colours */
--background-primary: #3e2334 !important;
--background-titlebar: #191f308f !important;
--background-primary-alt: #191f30 !important;
--background-secondary: #522f45 !important;
--background-secondary-alt: #3e2334 !important;
--background-tertiary: #2e1a27 !important;
--background-accent: var(--alt-color2) !important;
--background-accent-gradient: var(--alt-color2) !important;
--background-floating: #3e2334 !important;

 /* Hovering Colours */
 --background-modifier-hover:rgba(0,0,0,.18) !important;
 --background-modifier-active:rgba(0,0,0,.23) !important;
 --background-modifier-selected:rgba(0,0,0,.27) !important;
--background-modifier-accent: rgba(56, 168, 151, 0.418) !important;
--background-message-hover: transparent !important;

 /* Mentioned  Colours */
--background-mentioned: rgba(56, 168, 151, 0.233) !important;
--background-mentioned-hover: rgba(56, 168, 151, 0.322) !important;
--background-mentioned-bar: var(--background-accent) !important;

--background-help-warning: rgba(56, 168, 151, 0.233) !important;
--background-help-info: rgba(244, 8, 0, 0.164) !important;

 /* Scrollbar Colours */
--scrollbar-thin-thumb: rgba(56, 168, 151, 0.397) !important;
--scrollbar-thin-track: transparent !important;
--scrollbar-auto-thumb: rgba(56, 168, 151, 0.363) !important;
--scrollbar-auto-track: rgba(56, 168, 151, 0.363) !important;
--scrollbar-auto-scrollbar-color-thumb: rgba(56, 168, 151, 0.384) !important;

/* Box Shadow On Floating Elements Colours */
--elevation-stroke: 0 0 0 1px rgba(22, 24, 26, 0.329) !important;
--elevation-low: 0 1px 0 rgba(22, 25, 26, 0.329) !important;
--elevation-medium: 0 4px 4px rgba(22, 25, 26, 0.329) !important;
--elevation-high: 0 8px 16px rgba(22, 25, 26, 0.329) !important;

/* Other */
--radio-group-dot-foreground: var(--alt-color) !important;
}

/* Lode Light */

.theme-light {
        
  /* Lode Specific */
  --alt-color: 83, 182, 167 !important; /* RGB */
  --alt-color2: #53b6a7 !important; /* HEX */

--icons-color: #eef3f2 !important;
--icons-color-hover: #1bb69f !important;
  
  --green-color: #2C344D !important; 
  --green-bar-on: var(--greenple-color) !important;
  --green-bar-bg: #151925 !important;
  --green-slider-on: var(--greenple-color) !important;
  --green-slider-off: rgb(48, 48, 54) !important;
  --green-slider-dot: #fff !important;

  /* Other */
  --scrollbars: none !important; /* none or unset */
  --call-bg: url(https://i.imgur.com/7QJkSkJ.png) !important; /* None To Disable */
  --call-bg-colour: var(--background-accent) !important; /* Image Overwrites */

  /* Spotify Crenshaw Plugin */
  --album-blur-amount: 2px !important;
  --subtext-color: #fff !important;

  /* Keeping Consistancy With Discord */ 
  --serverlist-background: #cad7e0 !important;
  --memberlist-background: #cad7e0 !important;
  --win-titlebar: var(--background-tertiary) !important;

  /* Making Things Round */ /* Four Numbers = Four Corners */
  --modal-border-radius: 15px 15px 15px 15px !important;
  --floating-border-radius: 15px 15px 15px 15px !important;
  --expanded-border-radius: 15px 15px 15px 15px !important;
  --hover-border-radius: 10px 10px 10px 10px !important;
  --avatar-border-radius: 11.5px 11.5px 11.5px 11.5px !important; /* Serverlist Too */
  --avatar-border-radius-hover: 5.5px 5.5px 5.5px 5.5px !important;
  --chat-text-border-radius: 12px 12px 12px 12px !important;

    /* ROUND THINGS */
  --borders-radius: 12px !important;
  --borders-radius-right: 6px !important;
  --borders-radius-left: 6px !important;
  --borders-radius-bottom: 6px !important;
  --borders-radius-top: 4px !important;

  --titlebar-borders-radius: 12px !important;
  --titlebar-borders-radius-right: 12px !important;
  --titlebar-borders-radius-left: 8px !important;
  --titlebar-borders-radius-bottom: 10px !important;
  --titlebar-borders-radius-top: 8px !important;

  --spotify-right: 1.7rem !important;

    /* Watermark */
    --watermark-text: "LODE" !important;
    --watermark-text-top: 14px !important;
    --watermark-text-left: 3.4rem !important;
    --watermark-gradient: 270deg, #79a9d0, #1ddaa1 !important;

  --win-minimise-color: #48c048b9 !important;
  --win-maximise-color: #eab618ab !important;
  --win-close-color: #ec0c0c9d !important;
  --win-right: 14px !important;

 /* Header Colours Colors */
  --modal-normal-primary-color: #c6d4df !important;
  --modal-normal-secondary-color: #c6d4df !important;
  --spotify-color: var(--alt-color2) !important;
  --playing-color: var(--alt-color2) !important;
  --streaming-color: #4d2b86 !important;

    /* Header Colors */
    --header-primary: #000;
    --header-secondary: #1f1d1e;

 /* Powercord Toast Colors */
  --toast-background: #e1e3eb !important;
  --toast-header: #bdc0c7 !important;
  --toast-content: #e1e3eb !important;
  --toast-box-shadow: rgba(24, 21, 21, 0.932) !important;
  --toast-border: rgba(21, 22, 22, 0) !important;

 /* Text Colours */
 --text-normal: #2e2b2b;
 --text-muted:#808080;
  --text-link: var(--alt-color2) !important;
  --channels-default: #242221 !important;
  --interactive-normal: #080808 !important;
  --interactive-hover: #1a1818 !important;
  --interactive-active: rgb(19, 17, 17) !important;
  --interactive-muted: #505355 !important;

 /* Chat */
  --channeltextarea-background: #cbcbda !important;
  --channeltextarea-background-hover: #f5f6fa !important;

 /* Background Colours */
 --background-tertiary: #eedde8;
 --background-secondary: #eedde8;
 --background-secondary-alt: #eedde8;
 --background-primary: #eedde8;
 --background-floating: #eedde8;
 --background-accent: #ff12ac;

 /* Hovering Colours */
 --background-modifier-hover:rgba(0,0,0,.05);
 --background-modifier-active:rgba(0,0,0,.1);
 --background-modifier-selected:rgba(0,0,0,.07);
  --background-modifier-accent: rgba(56, 168, 151, 0.534) !important;
  --background-message-hover: transparent !important;

 /* Mentioned  Colours */
  --background-mentioned: rgba(56, 168, 151, 0.308) !important;
  --background-mentioned-hover: rgba(56, 168, 151, 0.425) !important;
  --background-mentioned-bar: var(--background-accent) !important;

  --background-help-warning: rgba(56, 168, 151, 0.233) !important;
  --background-help-info: rgba(244, 8, 0, 0.164) !important;

    /* Scrollbar Colours */
  --scrollbar-thin-thumb: rgba(56, 168, 151, 0.397) !important;
  --scrollbar-thin-track: transparent !important;
  --scrollbar-auto-thumb: rgba(56, 168, 151, 0.363) !important;
  --scrollbar-auto-track: rgba(56, 168, 151, 0.363) !important;
  --scrollbar-auto-scrollbar-color-thumb: rgba(56, 168, 151, 0.384) !important;

    /* Box Shadow On Floating Elements Colours */
  --elevation-stroke: 0 0 0 1px rgba(22, 24, 26, 0.329) !important;
  --elevation-low: 0 1px 0 rgba(22, 25, 26, 0.329) !important;
  --elevation-medium: 0 4px 4px rgba(22, 25, 26, 0.329) !important;
  --elevation-high: 0 8px 16px rgba(22, 25, 26, 0.329) !important;

    /* Other */
  --radio-group-dot-foreground: var(--alt-color) !important;
}
