@import url("https://cdn.jsdelivr.net/npm/@typopro/web-iosevka@3.7.5/TypoPRO-Iosevka.css");

code {
    font-family: "TypoPRO Iosevka Term", monospace;
    font-weight: 400;
}

/* Iosevka on Powercord */
pre > code {
    font-family: "TypoPRO Iosevka Term", monospace;
    font-weight: 400;
}

/* Lode Cyan Duvbox */
.theme-dark {
        
  /* Lode Specific */
--alt-color: 50, 48, 47; /* RGB */
--alt-color2: #272524 !important; /* HEX */

--green-color: #4aac8f !important;
--green-bar-on: var(--green-color) !important;
--green-bar-bg: #151925 !important;
--green-slider-on: var(--green-color) !important;
--green-slider-off: #19d5e280 !important;
--green-slider-dot: #fff !important;

--watermark-gradient: 270deg, rgb(214, 142, 58), rgb(117, 83, 45) !important;

 /* Header Colours Colors */
--modal-normal-primary-color: #151924 !important;
--modal-normal-secondary-color: #252B3B !important;
--spotify-color: var(--alt-color2) !important;
--playing-color: var(--alt-color2) !important;
--streaming-color: #4d2b86 !important;

 /* Header Colors */
--header-primary: #EAE1DF !important;
--header-secondary: rgb(159, 161, 163) !important;

 /* Text Colours */
--text-normal: #ebdbb2;
--text-muted: #bdae93;
--text-link: #458588 !important;
--channels-default: #ddd5d3 !important;
--interactive-normal: #EAE1DF !important;
--interactive-normal: #ebdbb2;
--interactive-hover: #bdae93;
--interactive-active: #fbf1c7;

 /* Chat */
--channeltextarea-background: var(--background-primary) !important;
--channeltextarea-background-hover: #252B3B !important;

 /* Background Colours */
--background-primary: #282828 !important;
--background-titlebar: #191f308f !important;
--background-primary-alt: #191f30 !important;
--background-secondary: #3c3836 !important;
--background-secondary-alt: #252b3b !important;
--background-tertiary: #504945 !important;
--background-accent: var(--alt-color2) !important;
--background-accent-gradient: var(--alt-color2) !important;
--background-floating: #2b3341 !important;

 /* Hovering Colours */
--background-modifier-hover: rgba(168, 101, 56, 0.233) !important;
--background-modifier-active: rgba(168, 123, 56, 0.521) !important;
--background-modifier-selected: rgba(168, 110, 56, 0.178) !important;
--background-modifier-accent: rgba(168, 116, 56, 0.418) !important;
--background-message-hover: transparent !important;

 /* Mentioned  Colours */
--background-mentioned: rgba(168, 119, 56, 0.233) !important;
--background-mentioned-hover: rgba(168, 110, 56, 0.322) !important;
--background-mentioned-bar: var(--background-accent) !important;

--background-help-warning: rgba(56, 168, 151, 0.233) !important;
--background-help-info: rgba(244, 8, 0, 0.164) !important;

 /* Scrollbar Colours */
--scrollbar-thin-thumb: rgba(56, 168, 151, 0.397) !important;
--scrollbar-thin-track: transparent !important;
--scrollbar-auto-thumb: rgba(56, 168, 151, 0.363) !important;
--scrollbar-auto-track: rgba(56, 168, 151, 0.363) !important;
--scrollbar-auto-scrollbar-color-thumb: rgba(56, 168, 151, 0.384) !important;

/* Box Shadow On Floating Elements Colours */
--elevation-stroke: 0 0 0 1px rgba(22, 24, 26, 0.329) !important;
--elevation-low: 0 1px 0 rgba(22, 25, 26, 0.329) !important;
--elevation-medium: 0 4px 4px rgba(22, 25, 26, 0.329) !important;
--elevation-high: 0 8px 16px rgba(22, 25, 26, 0.329) !important;

/* Other */
--radio-group-dot-foreground: var(--alt-color) !important;
}
