/* Lode LilyPichuTheme By Nyria#3863 */
.theme-dark {
        
  /* Lode Specific */
--alt-color: 197, 83, 108 !important; /* RGB */
--alt-color2: #c5536c !important; /* HEX */
/* --greenple-color: 0, 0, 0 !important; */

/* Other */
--scrollbars: none !important; /* none or unset */
--call-bg: url(https://i.imgur.com/7QJkSkJ.png) !important; /* None To Disable */
--call-bg-colour: var(--background-accent) !important; /* Image Overwrites */

  /* Spotify Crenshaw Plugin */
--album-blur-amount: 2px !important;
--subtext-color: #000 !important;

  /* Keeping Consistancy With Discord */ 
--serverlist-secondary: var(--background-tertiary) !important;
--memberlist-background: #5e3640 !important;
--win-titlebar: var(--background-tertiary) !important;

  /* Making Things Round */ /* Four Numbers = Four Corners */
--modal-border-radius: 15px 15px 15px 15px !important;
--floating-border-radius: 15px 15px 15px 15px !important;
--expanded-border-radius: 15px 15px 15px 15px !important;
--hover-border-radius: 10px 10px 10px 10px !important;
--avatar-border-radius: 11.5px 11.5px 11.5px 11.5px !important; /* Serverlist Too */
--avatar-border-radius-hover: 5.5px 5.5px 5.5px 5.5px !important;
--chat-text-border-radius: 12px 12px 12px 12px !important;

 /* ROUND THINGS */
--borders-radius: 12px !important;
--borders-radius-right: 6px !important;
--borders-radius-left: 8px !important;
--borders-radius-bottom: 8px !important;
--borders-radius-top: 2px !important;

--titlebar-borders-radius: 12px !important;
--titlebar-borders-radius-right: 12px !important;
--titlebar-borders-radius-left: 8px !important;
--titlebar-borders-radius-bottom: 10px !important;
--titlebar-borders-radius-top: 8px !important;
        
--chatbox-border-radius: 22px !important;

--spotify-right: 1.7rem !important;

/* Watermark */
--watermark-text: "LODE" !important;
--watermark-text-top: 14px !important;
--watermark-text-left: 3.4rem !important;
--watermark-gradient: 270deg, #9b77da, #8ea6fc !important;

--win-minimise-color: #48c048b9 !important;
--win-maximise-color: var(--background-secondary) !important;
--win-close-color: #ec0c0c9d !important;
--win-right: 14px !important;

 /* Header Colours Colors */
--modal-normal-primary-color: #151924 !important;
--modal-normal-secondary-color: #252B3B !important;
--spotify-color: var(--alt-color2) !important;
--playing-color: var(--alt-color2) !important;
--streaming-color: #4d2b86 !important;

 /* Header Colors */
--header-primary: var(--text-normal) !important;
--header-secondary: #c9c9c9 !important;

 /* Powercord Toast Colors */
 --toast-background: #5e3640 !important;
 --toast-header: #3b1d24 !important;
 --toast-contents: #49292f !important;
 --toast-border: #49292f !important;

 /* Text Colours */
--text-normal: #fbfbfb !important;
--text-muted: #b2a6b6 !important;
--text-link: #b6ecc8 !important;
--channels-default: #b2a6b6 !important;
--interactive-normal: #c8c8c8 !important;
--interactive-hover: #dcddde !important;
--interactive-active: var(--text-normal) !important;
--interactive-muted: #6f5e72 !important;

 /* Chat */
--channeltextarea-background: #36263A !important;
--channeltextarea-background-hover: #281D30 !important;

 /* Background Colours */
--background-primary: #5e3640 !important;
--background-titlebar: #191f308f !important;
--background-primary-alt: #432e4d !important;
--background-secondary: #3d2227 !important;
--background-secondary-alt: #3b1d24 !important;
--background-tertiary: #220f14 !important;
--background-accent: #9864a3 !important;
--background-accent-gradient: var(--alt-color2) !important;
--background-floating: #221115 !important;

 /* Hovering Colours */

--background-modifier-active: rgba(168, 113, 182, 0.425) !important;
--background-modifier-hover: rgba(56, 31, 31, 0.32) !important;
--background-modifier-active: rgba(19, 12, 12, 0.32) !important;
--background-modifier-selected: rgba(31, 21, 21, 0.32) !important;
--background-message-hover: transparent !important;

 /* Mentioned  Colours */
--background-mentioned: rgba(56, 168, 151, 0.233) !important;
--background-mentioned-hover: rgba(56, 168, 151, 0.322) !important;
--background-mentioned-bar: var(--background-accent) !important;

--background-help-warning: rgba(56, 168, 151, 0.233) !important;
--background-help-info: rgba(244, 8, 0, 0.164) !important;

 /* Scrollbar Colours */
 --scrollbar-auto-thumb: var(--background-tertiary);
 --scrollbar-auto-track: var(--background-secondary-alt);
 --scrollbar-thin-thumb: var(--background-tertiary);
 --scrollbar-thin-track: transparent;
--scrollbar-auto-scrollbar-color-thumb: var(--background-tertiary);

/* Box Shadow On Floating Elements Colours */
--elevation-stroke: 0 0 0 1px rgba(22, 24, 26, 0.329) !important;
--elevation-low: 0 1px 0 rgba(22, 25, 26, 0.329) !important;
--elevation-medium: 0 4px 4px rgba(22, 25, 26, 0.329) !important;
--elevation-high: 0 8px 16px rgba(22, 25, 26, 0.329) !important;

/* Other */
--radio-group-dot-foreground: var(--alt-color) !important;
}
