/* Lode Midnight Mars */
.theme-dark {
        
  /* Lode Specific */
--alt-color: 112, 173, 133 !important; /* RGB */
--alt-color2: #70ad85 !important; /* HEX */

--watermark-gradient: 270deg, #d0a379, #1ddaa1 !important;

 /* Header Colors */
--header-primary: var(--text-normal) !important;
--header-secondary: #c9c9c9 !important;

 /* Text Colours */
--text-normal: #fbfbfb !important;
--text-muted: #b2a6b6 !important;
--text-link: #b6ecc8 !important;
--channels-default: #b2a6b6 !important;
--interactive-normal: #c8c8c8 !important;
--interactive-hover: #dcddde !important;
--interactive-active: var(--text-normal) !important;
--interactive-muted: #6f5e72 !important;

 /* Chat */
--channeltextarea-background: #36263A !important;
--channeltextarea-background-hover: #281D30 !important;

 /* Background Colours */
--background-primary: #36263A !important;
--background-titlebar: #191f308f !important;
--background-primary-alt: #432e4d !important;
--background-secondary: #281D30 !important;
--background-secondary-alt: #211828 !important;
--background-tertiary: #0e0911 !important;
--background-accent: #9864a3 !important;
--background-accent-gradient: var(--alt-color2) !important;
--background-floating: #19131f !important;

 /* Hovering Colours */
--background-modifier-hover: rgba(168, 113, 182, 0.23) !important;
--background-modifier-active: rgba(168, 113, 182, 0.425) !important;
--background-modifier-selected: rgba(168, 113, 182, 0.377) !important;
--background-modifier-accent: rgba(168, 113, 182, 0.288) !important;
--background-message-hover: transparent !important;

 /* Mentioned  Colours */
--background-mentioned: rgba(56, 168, 151, 0.233) !important;
--background-mentioned-hover: rgba(56, 168, 151, 0.322) !important;
--background-mentioned-bar: var(--background-accent) !important;

--background-help-warning: rgba(56, 168, 151, 0.233) !important;
--background-help-info: rgba(244, 8, 0, 0.164) !important;

 /* Scrollbar Colours */
--scrollbar-thin-thumb: rgba(56, 168, 151, 0.397) !important;
--scrollbar-thin-track: transparent !important;
--scrollbar-auto-thumb: rgba(56, 168, 151, 0.363) !important;
--scrollbar-auto-track: rgba(56, 168, 151, 0.363) !important;
--scrollbar-auto-scrollbar-color-thumb: rgba(56, 168, 151, 0.384) !important;

/* Box Shadow On Floating Elements Colours */
--elevation-stroke: 0 0 0 1px rgba(22, 24, 26, 0.329) !important;
--elevation-low: 0 1px 0 rgba(22, 25, 26, 0.329) !important;
--elevation-medium: 0 4px 4px rgba(22, 25, 26, 0.329) !important;
--elevation-high: 0 8px 16px rgba(22, 25, 26, 0.329) !important;

/* Other */
--radio-group-dot-foreground: var(--alt-color) !important;
}
