/**
 * @name LodeTheme
 * @author Leeprky#2063
 * @version 1.0.6
 * @description Animated/Bubbly Theme w/ Lots of customisation
 * @source https://github.com/leeprky/lode
*/

/*  ------------------------------------------

            Lode Theme (BETTERDISCORD)
                      v1.0.6
                - leeprky#2063 -

    ------------------------------------------  */

/* Lode Base Source Code */
@import url(https://raw.githack.com/leeprky/Lode/main/source/lode-theme.css);

/* Other Imports */
@import url(https://raw.githack.com/Discord-Custom-Covers/usrbg/master/USRBG.theme.css);

/* Visuals */
@import url(https://raw.githack.com/v-briese/Channel-Icons/main/channelicons.theme.css);
@import url(https://raw.githack.com/snappercord/Settings-Icons/main/settingsicons.css);

/* Optional Imports */
/* @import url(https://raw.githack.com/DiscordStyles/HorizontalServerList/master/HorizontalServerList.theme.css); */
@import url(https://raw.githack.com/leeprky/Lode/main/default/support/gradients/luckfiregradientbuttons.css);
@import url(https://raw.githack.com/leeprky/Lode/main/default/support/dtm/svg.css); /*
@import url(https://raw.githack.com/leeprky/Lode/main/default/support/radial/radiusstatus.css);

/* Titlebar */
/* Disable if you cant see them in top right (windows) */
@import url(https://raw.githack.com/leeprky/Lode/main/default/support/win-buttons/win-buttons.css);

/*  ------------------------------------------
          Lode Customisable Configuration
                     v1.0.6
                - leeprky#2063 -
    ------------------------------------------  */

/* Lode Colour Schemes */

/* Citric (Yellow & Green / Blue Colour */
/* @import url(https://raw.githack.com/leeprky/Lode/main/default/lode-schemes/citris.css); 

/* Crimson ( Maroon )*/
/* @import url(https://raw.githack.com/leeprky/Lode/main/default/lode-schemes/crimson.css);

/* Pre-Made Colour Schemes */

/* naive */
/* @import url(https://raw.githack.com/leeprky/Lode/blob/main/default/schemes/NaiveColors.css); 
/* slook */
/* @import url(https://raw.githack.com/leeprky/Lode/main/default/schemes/slook.css); 

/* Other User's Themes */

/* midnight mars by #Luckfire */
/* @import url(https://raw.githack.com/leeprky/Lode/main/default/schemes/MidnightMars.css); 
/* Nebula */
/* @import url(https://raw.githack.com/leeprky/Lode/main/default/schemes/nebula.css); 
/* DuvBox */
/* @import url(https://raw.githack.com/leeprky/Lode/main/default/schemes/duvbox.css); 
/* LilyPichu */ 
/* @import url(https://raw.githack.com/leeprky/Lode/main/default/schemes/LilyPichu.css);
/* Fey-Theme */
/* @import url(https://raw.githack.com/leeprky/Lode/main/default/schemes/fey.css); 
/* Miyua */
/* @import url(https://raw.githack.com/leeprky/Lode/main/default/schemes/MiyuaTheme.css);
/* Neptune */
/* @import url(https://raw.githack.com/leeprky/Lode/main/default/schemes/neptune.css); 
/* Midnightcord */
/* @import url(https://raw.githack.com/leeprky/Lode/main/default/schemes/midnightcord.css); 
/* CTP */
/* @import url(https://raw.githack.com/leeprky/Lode/main/default/schemes/ctp.css);

/* -- */

/*
USRBG Profile Modals by Tropix126.
=========================================== */

@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

.root-SR8cQa {
  transform: translateZ(0);
}
.header-QKLPzZ .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  pointer-events: none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}
.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index: 1;
  position: relative;
}

/*
USRBG Popouts by Tropix126.
=========================================== */
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

.userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}
.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}

#app-mount {background-color: var(--background-tertiary);}

:root {

    /* Gradients */
    --default-gradient: 315deg, #257583 0%, #167B70 74%;
    --special-gradient: 315deg, #8980F0 0%, #D577F0 74%;
    --red-gradient: 315deg, #AA3738 0%, #F04747 74%;
    --yellow-gradient: 315deg, #C2831B 0%, #FFB740 74%;
    --green-gradient: 315deg, #58d38b 0%, #58d38b 74%;
    --grey-gradient: 315deg, #203A43 0%, #28434d 74%;
    --white-gradient: 315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 74%;
    /* Transitions */
    --font-normal: 500;
    --font-hover: bold;
    --font-size-hover: 15px;
    --hover-transition: 0.1s linear;
    --transform-normal: scale(1);
    --hover-transform: scale(1.15);
    --setting-hover-transform: scale(1.025);
    --button-hover-transform: scale(1.03);
            
    /* Radial Status */
    --rs-small-spacing: 0px;  /* Spacing between avatar and status | MUST end in px */
    --rs-width: 2px;  /* Width/thickness of status border */
    --rs-avatar-shape: var(--avatar-border-radius);  /* 50% for round - 0% for square */
    --rs-online-color: var(--alt-color2);  /* Colour for online status */
    --rs-idle-color: #faa61a;  /* Colour for idle status */
    --rs-dnd-color: #f04747;  /* Colour for dnd status */
    --rs-offline-color: #636b75;  /* Colour for offline status */
    --rs-streaming-color: #643da7;  /* Colour for streaming status */
    --rs-invisible-color: #747f8d;  /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
    --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */
  }

/* Lode Dark */
.theme-dark {
        
  /* Lode Specific */
--bd-color: #1bb69f;
--bd-color-hover: #16927f;
--alt-color: 56, 168, 151; /* RGB */
--alt-color2: #1bb69f; /* HEX */
         
--icons-color: #eef3f2;
--icons-color-hover: #1bb69f;

--green-color: #4aac8f;
--green-bar-on: var(--green-color);
--green-bar-bg: #151925;
--green-slider-on: var(--green-color);
--green-slider-off: #19d5e280;
--green-slider-dot: #fff;

/* Icons */
--home-icon: url(https://discord.com/assets/89576a4bb71f927eb20e8aef987b499b.svg);

/* Other */
--scrollbars: none; /* none or unset */
--call-bg: url(https://i.imgur.com/7QJkSkJ.png); /* None To Disable */
--call-bg-colour: var(--background-accent); /* Image Overwrites */

  /* Keeping Consistancy With Discord */ 
--serverlist-background: var(--background-tertiary);
--memberlist-background: #1d222e;
--win-titlebar: var(--background-tertiary);

  /* Making Things Round */ /* Four Numbers = Four Corners */
--modal-border-radius: 15px 15px 15px 15px;
--floating-border-radius: 15px 15px 15px 15px;
--expanded-border-radius: 15px 15px 15px 15px;
--hover-border-radius: 10px 10px 10px 10px;
--avatar-border-radius: 11.5px; /* Serverlist Top */
--avatar-border-radius-hover: 5.5px 5.5px 5.5px 5.5px;
--chat-text-border-radius: 12px 12px 12px 12px;

 /* ROUND THINGS */
--borders-radius: 12px;
--borders-radius-right: 6px;
--borders-radius-left: 8px;
--borders-radius-bottom: 8px;
--borders-radius-top: 5px;

--titlebar-borders-radius: 12px;
--titlebar-borders-radius-right: 12px;
--titlebar-borders-radius-left: 8px;
--titlebar-borders-radius-bottom: 10px;
--titlebar-borders-radius-top: 8px;

--chatbox-border-radius: 22px;

--spotify-right: 1.7rem;

/* Watermark */
--watermark-text: "LODE";
--watermark-version: "v1.0.6";
--watermark-text-top: 14px;
--watermark-text-left: 3.4rem;
--watermark-gradient: 270deg, rgb(132, 174, 253), rgb(80, 253, 172);

 /* Header Colours Colors */
--modal-normal-primary-color: var(--background-secondary);
--modal-normal-secondary-color: var(--background-secondary);
--spotify-color: var(--alt-color2);
--playing-color: var(--alt-color2);
--streaming-color: #4d2b86;

 /* Header Colors */
--header-primary: #EAE1DF;
--header-secondary: rgb(159, 161, 163);

 /* Text Colours */
--text-normal: #f7f4f4;
--text-muted: #a39897;
--text-link: var(--alt-color2);
--channels-default: #ddd5d3;
--interactive-normal: #EAE1DF;
--interactive-hover: #EAE1DF;
--interactive-active: #fff;
--interactive-muted: #505355;

 /* Chat */
--channeltextarea-background: var(--background-primary);
--channeltextarea-background-hover: var(--background-secondary);

 /* Background Colours */
--background-primary: #191f30;
--background-titlebar: #191f308f;
--background-primary-alt: #191f30;
--background-secondary: #252b3b;
--background-secondary-alt: #252b3b;
--background-tertiary: #2c344d;
--background-accent: var(--alt-color2);
--background-accent-gradient: var(--alt-color2);
--background-floating: #2b3341;

 /* Hovering Colours */
--background-modifier-hover: rgba(56, 168, 151, 0.459);
--background-modifier-active: rgba(56, 168, 151, 0.521);
--background-modifier-selected: rgba(56, 168, 151, 0.178);
--background-modifier-accent: rgba(56, 168, 151, 0.418);
--background-message-hover: transparent;

 /* Mentioned  Colours */
--background-mentioned: rgba(56, 168, 151, 0.233);
--background-mentioned-hover: rgba(56, 168, 151, 0.322);
--background-mentioned-bar: var(--background-accent);

--background-help-warning: rgba(56, 168, 151, 0.233);
--background-help-info: rgba(244, 8, 0, 0.164);

 /* Scrollbar Colours */
--scrollbar-thin-thumb: rgba(56, 168, 151, 0.397);
--scrollbar-thin-track: transparent;
--scrollbar-auto-thumb: rgba(56, 168, 151, 0.363);
--scrollbar-auto-track: rgba(56, 168, 151, 0.363);
--scrollbar-auto-scrollbar-color-thumb: rgba(56, 168, 151, 0.384);

/* Box Shadow On Floating Elements Colours */
--elevation-stroke: 0 0 0 1px rgba(22, 24, 26, 0.329);
--elevation-low: 0 1px 0 rgba(22, 25, 26, 0.329);
--elevation-medium: 0 4px 4px rgba(22, 25, 26, 0.329);
--elevation-high: 0 8px 16px rgba(22, 25, 26, 0.329);

/* Other */
--radio-group-dot-foreground: var(--alt-color);
}

/* Lode Light */

.theme-light {
        
  /* Lode Specific */
  --bd-color: #1bb69f;
  --bd-color-hover: #16927f;
  --alt-color: 83, 182, 167; /* RGB */
  --alt-color2: #53b6a7; /* HEX */
  
  --icons-color: #eef3f2;
  --icons-color-hover: #1bb69f;
            
  --green-color: #2C344D; 
  --green-bar-on: var(--greenple-color);
  --green-bar-bg: #151925;
  --green-slider-on: var(--greenple-color);
  --green-slider-off: rgb(48, 48, 54);
  --green-slider-dot: #fff;

  /* Icons */
  --home-icon: url(https://cdn.discordapp.com/attachments/733624227378495488/776180439010246656/home-icon.svg);

  /* Other */
  --scrollbars: none; /* none or unset */
  --call-bg: url(https://i.imgur.com/7QJkSkJ.png); /* None To Disable */
  --call-bg-colour: var(--background-accent); /* Image Overwrites */


  /* Keeping Consistancy With Discord */ 
  --serverlist-background: #cad7e0;
  --memberlist-background: #cad7e0;
  --win-titlebar: var(--background-tertiary);

  /* Making Things Round */ /* Four Numbers = Four Corners */
  --modal-border-radius: 15px 15px 15px 15px;
  --floating-border-radius: 15px 15px 15px 15px;
  --expanded-border-radius: 15px 15px 15px 15px;
  --hover-border-radius: 10px 10px 10px 10px;
  --avatar-border-radius: 11.5px 11.5px 11.5px 11.5px; /* Serverlist Too */
  --avatar-border-radius-hover: 5.5px 5.5px 5.5px 5.5px;
  --chat-text-border-radius: 12px 12px 12px 12px;

    /* ROUND THINGS */
  --borders-radius: 12px;
  --borders-radius-right: 6px;
  --borders-radius-left: 6px;
  --borders-radius-bottom: 6px;
  --borders-radius-top: 4px;

  --titlebar-borders-radius: 12px;
  --titlebar-borders-radius-right: 12px;
  --titlebar-borders-radius-left: 8px;
  --titlebar-borders-radius-bottom: 10px;
  --titlebar-borders-radius-top: 8px;

  --spotify-right: 1.7rem;

    /* Watermark */
  --watermark-text: "LODE";
  --watermark-version: "v1.0.4";
  --watermark-text-top: 14px;
  --watermark-text-left: 3.4rem;
  --watermark-gradient: 270deg, #79a9d0, #1ddaa1;

 /* Header Colours Colors */
  --modal-normal-primary-color: #c6d4df;
  --modal-normal-secondary-color: #c6d4df;
  --spotify-color: var(--alt-color2);
  --playing-color: var(--alt-color2);
  --streaming-color: #4d2b86;

    /* Header Colors */
  --header-primary: #0f0f0e;
  --header-secondary: rgb(43, 45, 46);

 /* Text Colours */
  --text-normal: #111010;
  --text-muted: var(--alt-color2);
  --text-link: var(--alt-color2);
  --channels-default: #242221;
  --interactive-normal: #080808;
  --interactive-hover: #1a1818;
  --interactive-active: rgb(19, 17, 17);
  --interactive-muted: #505355;

 /* Chat */
  --channeltextarea-background: #cbcbda;
  --channeltextarea-background-hover: #f5f6fa;

 /* Background Colours */
  --background-primary: #cad7e0;
  --background-titlebar: #cbd7e0;
  --background-primary-alt: #cbd7e0;
  --background-secondary: #dce5ec;
  --background-secondary-alt: #dce5ec;
  --background-tertiary: #eceff3;
  --background-accent: var(--alt-color2);
  --background-accent-gradient: #0f7464;
  --background-floating: #bbc8d1;

 /* Hovering Colours */
  --background-modifier-hover: rgba(56, 168, 151, 0.411);
  --background-modifier-active: rgba(56, 168, 151, 0.651);
  --background-modifier-selected: rgba(56, 168, 151, 0.37);
  --background-modifier-accent: rgba(56, 168, 151, 0.534);
  --background-message-hover: transparent;

 /* Mentioned  Colours */
  --background-mentioned: rgba(56, 168, 151, 0.308);
  --background-mentioned-hover: rgba(56, 168, 151, 0.425);
  --background-mentioned-bar: var(--background-accent);

  --background-help-warning: rgba(56, 168, 151, 0.233);
  --background-help-info: rgba(244, 8, 0, 0.164);

    /* Scrollbar Colours */
  --scrollbar-thin-thumb: rgba(56, 168, 151, 0.397);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: rgba(56, 168, 151, 0.363);
  --scrollbar-auto-track: rgba(56, 168, 151, 0.363);
  --scrollbar-auto-scrollbar-color-thumb: rgba(56, 168, 151, 0.384);

    /* Box Shadow On Floating Elements Colours */
  --elevation-stroke: 0 0 0 1px rgba(22, 24, 26, 0.329);
  --elevation-low: 0 1px 0 rgba(22, 25, 26, 0.329);
  --elevation-medium: 0 4px 4px rgba(22, 25, 26, 0.329);
  --elevation-high: 0 8px 16px rgba(22, 25, 26, 0.329);

    /* Other */
  --radio-group-dot-foreground: var(--alt-color);
}

/* Lode Extras */
.guilds-1SWlCJ{background-color:var(--serverlist-background)}
.members-1998pB,.members-1998pB>div{background-color:var(--memberlist-background)}
.guilds-1SWlCJ{background-color:var(--serverlist-background-light)}
.members-1998pB,.members-1998pB>div{background-color:var(--memberlist-background-light)}
.powercord-toast .contents{background-color:var(--toast-content)}

/* MemberList Scroller */
.platform-win .scroller-1Bvpku {padding-top: 16px;}

/*  ----------------------------------------------------
                  Optional Features
        Add A "/*" On The Lines Below The Comments
                  To Disable Them
    ----------------------------------------------------  */

/* Windows Bar */
#app-mount>div[class*=titleBar]>div[class*=wordmark]{margin-top:0rem;margin-left:var(--watermark-text-left)}
#app-mount>div[class*=titleBar]{display:grid;justify-content:right;grid-template-columns:min-content min-content min-content;direction:rtl;height:1.72rem;margin:5px 0 0 0;margin-right:var(--win-right)}
#app-mount>div[class*=titleBar]>div[class*=winButton]{height:unset;display:grid;width:2rem;height:1.72rem;border-radius:4px}
#app-mount>div[class*=titleBar]>div[class*=winButton]>svg{height:40%;width:100%}
#app-mount>div[class*=app]{margin-top:-.4rem}
.messagesPopoutWrap-1MQ1bW{background-color:var(--background-tertiary)!important}
.titleBar-AC4pGV>:nth-child(2):hover{background-color:var(--win-close-color)}
.titleBar-AC4pGV>:nth-child(3):hover{background-color:var(--win-minimise-color)}
.titleBar-AC4pGV>:nth-child(4):hover{background-color:var(--win-maximise-color)}

/* --- */

.withFrame-haYltI {margin-top: 10px;}

/* Horizontal Modals OPTION*/
/*
.userPopout-3XzG_A{width:500px;-webkit-box-orient:horizontal;flex-direction:row;height:240px}
.footer-1fjuF6{display:none}
.header-2BwW8b{width:250px;height:240px;border-radius:var(--modal-border-radius);overflow:hidden auto}
.header-2BwW8b::-webkit-scrollbar{width:8px;border-radius:8px}
.header-2BwW8b::-webkit-scrollbar-track{background:0 0;border:2px solid transparent;margin-bottom:2px;margin-top:2px}
.header-2BwW8b::-webkit-scrollbar-thumb{border:2px solid transparent;border-radius:4px;background:var(--scrollbar-auto-scrollbar-color-track);background-clip:padding-box}
.user-details-center{text-align:center;margin-bottom:5px}
*/

/* Optioanl Modal Avatar Size */

    .footer-1fjuF6{padding-bottom:17.5px;margin-top:-15px}
    .bodyTitle-Y0qMQz{display:none}
    .bodyInnerWrapper-Z8WDxe:before{content:"Roles";font-weight:700;font-size:16px;margin-left:85px;color:var(--header-secondary)}
    .headerTop-3C2Zn0{min-height:250px;padding:0}
    .headerTop-3C2Zn0 .avatarWrapper-3H_478{left:0;bottom:9px;top:-15px;width:255px}
    .headerTop-3C2Zn0 .avatarWrapper-3H_478 .wrapper-3t9DeA{height:260px!important;width:250px!important;left:-4px}
    .avatarHint-1qgaV3{width:100%;height:100%;border-radius:0}
    .avatarHintInner-Dco91E{font-size:.4em;text-shadow:1px 1px 3px #ddd}
    .headerTop-3C2Zn0 foreignObject{mask:none!important}
    .headerTop-3C2Zn0 rect{border-radius:0;x:0;y:79.25;width:80px;height:3px;mask:none}
    .headerText-2sdzFM{padding-bottom:5px}

/* */

/* Settings Modal Under Channels Into Server List */
.spotify-buttons{width:6em;margin-bottom:-4px}
.spotify-extra-controls,.spotify-seek-elements{display:none!important}
.powercord-spotify,.powercord-spotify.hover{height:57px}
.powercord-spotify.hover .spotify-extra-controls+.spotify-seek{margin-top:3px!important}
.powercord-spotify.hover .spotify-seek:not(.no-premium) .spotify-seek-bar{height:2px}
.spotify-seek-bar-cursor{border:none!important;width:15px;height:15px}
.spotify-title div:first-child{margin-top:-1px!important;margin-bottom:3px}
.powercord-spotify{background-position-x:center;background-position-y:center;border-radius:var(--borders-radius);background-image:var(--spotify-background-image);background-position:center;z-index:1;background-size:cover}
.avatar-SmRMf2 .spotify-cover{display:none}
.panels-j1Uci_{transition:height .5s;z-index:902;position:fixed;right:var(--spotify-right);bottom:5em;border-radius:1em!important;width:240px}
.bannerImage-3KhIJ6{opacity:1;transition:opacity .5s;}
.membersWrap-2h-GB4{background-color:var(--background-secondary);height:calc(100% - 160px);transition:height .5s;border-radius:var(--borders-radius);position:absolute;right:1em;top:.5em;overflow:hidden}
.chatContent-a9vAAp{position:absolute;width:100%;height:100%}
.divider-3_HH5L,.jumpToPresentBar-G1R9s6,.newMessagesBar-265mhP{width:calc(100% - 290px)}
.container-2fRDfG{width:calc(100% - 260px)}
.message-2qnXI6[role=listitem]{width:calc(100% - 365px);border-radius:1em}
.searchResultsWrap-3-pOjs{z-index:903;height:calc(100% - 100px);position:absolute;right:1em;border-radius:1em}
.container-3baos1 .noWrap-3jynv6{width:100px;opacity:1}
.button-14-BFJ{transition:.2s}
.button-14-BFJ:hover{padding-bottom:0;transition:.2}

/* --- */
/* Optionals End */
/* ----- */

.unread-2lAfLh{background-color:var(--background-accent);width:7.2px;height:7.2px;margin-top:-3.8px;margin-left:4px;border-radius:4px}

    /* Positioning */
.form-2fGMdU{margin-right: 255px}
.panels-j1Uci_{bottom: 1.8em}
.membersWrap-2h-GB4{height: calc(100% - 95px) }
    .container-2fRDfG {
      width: calc(100% - 0px);
      border-radius: 12px;
      margin-bottom: 5px;
    }
/* BETTERDISCORD ADDITONS */
.activity-11LB_k {
  background-color: rgba(0, 0, 0, 0);
}
.scroller-305q3I {
  border-radius: 12px;
}
.theme-dark .perksModal-fSYqOq {
  background-color: var(--background-primary);
}
/* Bd Blue */
.bd-button, .bd-server-tag, .bd-addon-views .bd-view-button.selected  {
  background-color: var(--bd-color); 
}
.bd-button:hover {
  background-color: var(--bd-color-hover); 
}
#bd-pub-button:hover {
  background-color: var(--bd-color-hover); 
}
    /*  ----------------------------------------------------
           ANYTHING ELSE YOU WANT TO ADD GOES BELOW
                  THIS IS FOR DEBUGGING ETC
                         v1.0.6 (Lode)
    ----------------------------------------------------  */
