
/*  ------------------------------------------

                 Lode Alt Colour
               ( blurple-replacer )
           - github.com/user/phenom4n4n -
   https://github.com/phenom4n4n/blurple-replacer

    ------------------------------------------  */

    :root {
        --radio-group-dot-foreground: rgba(var(--blurple-color));
    }
    .theme-light {
        --logo-primary: rgba(var(--blurple-color));
      }
    .replying-1x3H0T:before,
    .ephemeral-1PsL1r:before,
    .localBot-GrCgVt:before {
        background-color: rgba(var(--blurple-color)) !important;
    }
    .replying-1x3H0T,
    .ephemeral-1PsL1r,
    .localBot-GrCgVt {
        background-color: rgba(var(--blurple-color), 0.05) !important;
    }
    .ephemeralMessage-1fEWtQ a {
        color: rgba(var(--blurple-color)) !important;
    }
    div[class*="headerStreaming"] {
        background-color: rgba(var(--blurple-color)) !important;
    }
    div[class*="colorDefault-"]:active:not(.hideInteraction-1iHO1O),
    div[class*="colorDefault-"].focused-3afm-j,
    div[class*="colorDefault-"].focused-3afm-j:active {
        background-color: rgba(var(--blurple-color)) !important;
        color: #fff !important;
    }
    div[class*="colorDanger-"].focused-3afm-j,
    div[class*="colorDanger-"].focused-3afm-j:active {
        background-color: #f04747 !important;
    }
    div[class*="themeDefault"].valueChecked-m-4IJZ,
    button[class*="lookFilled"].colorBrand-3pXr91,
    button[class*="lookFilled"].colorBrand-3pXr91:disabled,
    button[class*="lookFilled"].colorBrand-3pXr91:hover {
        background-color: rgba(var(--blurple-color)) !important;
        color: #fff !important;
        border-color: rgba(var(--blurple-color)) !important;
    }
    div[class*="barFill-"] {
        background-color: rgba(var(--blurple-color)) !important;
    }
    .colorDefault-22HBa0 {
        background-color: var(--blurple-color); margin-top: 3px; height: 40px; position: sticky; border-radius: 0px; 
    }
    .reaction-1hd86g.reactionMe-wv5HKu {
        background-color: rgba(var(--blurple-color), 0.3);
    }
    .reactionMe-wv5HKu .reactionCount-2mvXRV, .reactionMe-wv5HKu:hover .reactionCount-2mvXRV {
        color: rgba(var(--blurple-color));
    }
    div[class*="subscribeTooltipWrapper-"] {
        background-color: rgba(var(--blurple-color));
    }
    div[class*="subscribeTooltipWrapper-"]::after {
        border-bottom-color: rgba(var(--blurple-color));
    }
    .lookInverted-2D7oAl.colorBrand-3pXr91 {
        color: rgba(var(--blurple-color));
    }
    span[class*="botTagInvert-"] {
        color: rgba(var(--blurple-color)) !important;
    }
    div[class*="operations-"] > a {
        color: rgba(var(--blurple-color)) !important;
    }
    button[class*="lookGhost-"].colorBrand-3pXr91 {
        color: rgba(var(--blurple-color)) !important;
        background-color: rgba(var(--blurple-color), 0.1) !important;
    }
    div[class*="mediaBarInteractionDragging-"] .mediaBarGrabber-1FqnbN,
    .mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN,
    .mediaBarGrabber-1FqnbN, 
    .mediaBarProgress-1xaPtl, 
    .mediaBarProgress-1xaPtl::after, 
    .mediaBarProgress-1xaPtl::before {
        background-color: rgba(var(--blurple-color));
    }
    div[class*="guildAvatarWithoutIcon-"] {
        background-color: rgba(var(--blurple-color));
    }
    span[class*="wanderingCubesItem-"] {
        background-color: rgba(var(--blurple-color));
    }
    .hasMore-3e72_v {
        color: rgba(var(--blurple-color));
    }
    ariasvg[-label="Discord Partner"] {
        color: rgba(var(--blurple-color)) !important;
    }
    div[class*="radioGroup-"] div[style*="background-color: rgb(114, 137, 218)"] {
        background-color: rgba(var(--blurple-color)) !important;
        border-color: rgba(var(--blurple-color)) !important;
    }
    div[class*="cardPrimaryEditable-"] div[style*="border-color: rgb(114, 137, 218)"] {
        border-color: rgba(var(--blurple-color)) !important;
    }
    div[class*="side-"] div[style*="color: rgb(114, 137, 218)"] {
        color: rgba(var(--blurple-color)) !important;
    }
    div[class*="side-"] div[style*="background-color: rgb(114, 137, 218)"] {
        background-color: rgba(var(--blurple-color)) !important;
        color: #fff !important;
    }
    div[class*="side-"] div[style*="background-color: rgba(114, 137, 218, 0.1)"] {
        background-color: rgba(var(--blurple-color), 0.1) !important;
    }
    div[class*="expandedFolderIconWrapper-"] svg[style*="color: rgb(114, 137, 218);"] {
        color: rgba(var(--blurple-color)) !important;
    }
    div[class*="folder-"] div[style*="background-color: rgba(114, 137, 218, 0.4)"] {
        background-color: rgba(var(--blurple-color), 40%) !important;
    }
    label[class*="checkboxWrapper-"] div[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
        border-color: rgba(var(--blurple-color)) !important;
        background-color: rgba(var(--blurple-color)) !important;
    }
    .selectedIcon-3uS11H {
        color: rgba(var(--blurple-color)) !important;
    }
    div[class*="tierUnlocked-"] {
        color: rgba(var(--blurple-color)) !important;
    }
    svg circle[fill*="#7289DA"] {
        fill: rgba(var(--blurple-color)) !important;
    }
    div[class*="scroller-"] div[style*="background: rgb(114, 137, 218);"] {
        background: rgba(var(--blurple-color)) !important;
    }
    .lookFilled-1h1y05.select-1Pkeg4:focus,
    .lookFilled-1h1y05.selectOpen-hQuR6b {
        border-color: rgba(var(--blurple-color)) !important;
    }
    .powercord-toast[data-toast-type=info] .icon {
        color: rgba(var(--blurple-color)) !important;
    }
    .message-15tBk4 strong {
        color: rgba(var(--blurple-color)) !important;
        background-color: rgba(var(--blurple-color), 0.1)e;
    }
    .improved-2jOfnH {
        color: rgba(var(--blurple-color)) !important;
    }
    .improved-2jOfnH:after {
        background-color: rgba(var(--blurple-color)) !important;
    }
    .wrapper-3WhCwL {
        color: rgba(var(--blurple-color));
        background: rgba(var(--blurple-color), 0.1);
    }
    .checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
        background-color: rgba(var(--blurple-color)) !important;
        border-color: rgba(var(--blurple-color)) !important;
    }
    .tooltipBrand-g03Nz8,
    .theme-light .tooltipBrand-g03Nz8 {
        background-color: rgba(var(--blurple-color)) !important;
    }
    .tooltipBrand-g03Nz8 .tooltipPointer-3ZfirK,
    .theme-light .tooltipBrand-g03Nz8 .tooltipPointer-3ZfirK {
        border-top-color: rgba(var(--blurple-color)) !important;
    }
    div[class*="progress-"] div[style*="background-color: rgb(114, 137, 218);"] {
        background-color: rgba(var(--blurple-color)) !important;
    }
    div[class*="tipTitle-"] {
        color: rgba(var(--blurple-color)) !important;
    }
    .path-92Hmty {
        stroke: rgba(var(--blurple-color)) !important;
    }
    .path2-1q7bG_ {
        stroke: rgba(var(--blurple-color)) !important;
        opacity: .6;
    }
    .path3-2l9TIX {
        stroke: rgba(var(--blurple-color));
        filter: grayscale(90%);
    }
    .categoryPill-34fszg.selected-1dONk0 {
        background-color: rgba(var(--blurple-color)) !important;
    }
    .searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO:focus-within {
        border-color: rgba(var(--blurple-color)) !important;
    }
    .wrapper-3jrx9n {
        border-color: rgba(var(--blurple-color)) !important;
    }
    .option-n0icdO:hover,
    .selected-mKYnfr.option-n0icdO {
        background-color: rgba(var(--blurple-color)) !important;
        border-color: rgba(var(--blurple-color)) !important;
    }
    .lookLink-9FtZy-.colorBrand-3pXr91:hover .contents-18-Yxp {
        background-image: linear-gradient(0deg,transparent,transparent 1px, rgba(var(--blurple-color)) 0,rgba(var(--blurple-color)) 2px,transparent 0);
    }
    .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z,
    .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after,
    .calendarPicker-2yf6Ci .react-datepicker__day:hover {
        background-color: rgba(var(--blurple-color)) !important;
    }
    .categoryFadeBlurple-1j72_A {
        background-color: rgba(var(--blurple-color), 0.8) !important;
    }
    .result-3w1ZcL:hover:after {
        -webkit-box-shadow: inset 0 0 0 2px rgba(var(--blurple-color)), inset 0 0 0 3px #2f3136 !important;
        box-shadow: inset 0 0 0 2px rgba(var(--blurple-color)), inset 0 0 0 3px #2f3136 !important;
    }
    div[class^="noticeText-"] {
        color: #fff !important;
    }
    .colorBrand-2zeG8h {
        background-color: rgba(var(--blurple-color)) !important;
        color: #fff !important;
    }
    .button-3Ijpww:hover {
        background-color: rgba(var(--blurple-color)) !important;
    }
    div[class*="colorDefault"].focused-3afm-j,
    .colorDefault-2K3EoJ.focused-3afm-j .checkbox-3s5GYZ {
        color: #fff !important;
    }
    button[class*="lookOutlined"].colorBrand-3pXr91 {
        color: rgba(var(--blurple-color)) !important;
        border-color: rgba(var(--blurple-color), 30%);
    }
    button[class*="lookOutlined"].colorBrand-3pXr91:hover {
        border-color: rgba(var(--blurple-color), 50%);
    }
    [class^="regionSelectModalOption-"]:hover,
    .input-cIJ7To.focused-1mmYsC,
    .input-cIJ7To:focus {
        border-color: rgba(var(--blurple-color)) !important;
    }
    circle[class^="radioSelection-"],
    [fill*="7289da"] {
        fill: rgba(var(--blurple-color)) !important;
    }
    polyline[stroke*="7289da"] {
        stroke: rgba(var(--blurple-color)) !important;
    }
    [class^="sampleLink-"],
    .title-2Dc-Cb,
    [class^="regionSelectModalHeader-"],
    .lookGhost-2Fn_0-.colorBrand-3pXr91,
    .lookLink-9FtZy-.colorBrand-3pXr91,
    .colorDefault-2K3EoJ .checkbox-3s5GYZ,
    .colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN,
    div[class*="colorBrand"] {
        color: rgba(var(--blurple-color)) !important;
    }
    div[class*="topSectionPlaying-"],
    [class^="avatarUploaderInner-"] {
        background-color: rgba(var(--blurple-color)) !important;
    }
    .categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG,
    span[class^="questionMark-"],
    .interactive:hover,
    div[class^="newMessagesBar-"],
    .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9,
    div[class^="dot-"],
    span[class*="botTagRegular"] {
        background-color: rgba(var(--blurple-color)) !important;
        color: #fff !important;
        border-color: rgba(var(--blurple-color)) !important;
    }
    .hasMoreButton-1MELpI {
        color: rgba(var(--blurple-color)) !important;
    }
    
