/*  ------------------------------------------
               Lode Extra Variables
                      v0.1.3
                - leeprky#2063 -
    ------------------------------------------  */

/* Global Recolouring */

/* Modal Colours */
/* Spotify Colours */
.headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
    background: var(--spotify-color);
}
/* spotify extra */
.attachButtonPlay-3iJ0mf {
    color: var(--spotify-color);
}
/* Streaming Colours */
.headerStreaming-2FjmG, .topSectionStreaming-1Tpf5X {
    background: var(--streaming-color)
}
.streamerModeEnabledBtn-2ZJ2eq {
  background-color: var(--streaming-color);
}
/* Playing Colours */
.headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
    background: var(--playing-color)
}
/* Normal Colours */
.headerNormal-T_seeN, .topSectionNormal-2-vo2m, .headerTop-3C2Zn0 {
    background: var(--modal-normal-color);
}
/* secondary modal */
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: var(--modal-normal-secondary-color)
}

/* My Discord Style */
/* Lode Extras */
.scroller-1Bvpku {
    background-color: var(--serverlist-background);
}
.members-1998pB, .members-1998pB>div {
    background-color: var(--memberlist-background);
}
/* Mention Line */
.mentioned-xhSam7:before {
    background-color: var(--mentioned-line);
}

/* Accent Tooltips */
.theme-dark .tooltipPrimary-1d1ph4, .theme-light .tooltipPrimary-1d1ph4 {
    background-color: var(--background-accent)
}
/* --- */

/* Border Radius Things */
.userPopout-3XzG_A {border-radius: var(--modal-border-radius) }
.menu-3sdvDG {border-radius: var(--expanded-border-radius) }
.headerNormal-T_seeN, .topSectionNormal-2-vo2m {border-radius: var(--expanded-border-radius) }
.theme-dark .container-3ayLPN, .elevationBorderHigh-2WYJ09 {border-radius: var(--floating-border-radius) }
.contentWrapper-SvZHNd {border-radius: var(--floating-border-radius) }
.messagesPopoutWrap-1MQ1bW {border-radius: var(--floating-border-radius) }
.container-enaOkj {border-radius: var(--expanded-border-radius) }
.root-SR8cQa {border-radius: var(--expanded-border-radius) }
.root-1gCeng, .footer-2gL1pp {border-radius: var(--expanded-border-radius) }
.input-2_SIlA {border-radius: var(--modal-border-radius) }
.colorDefault-2K3EoJ.focused-3afm-j {border-radius: var(--hover-border-radius) }
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp {border-radius: var(--hover-border-radius) }
.container-1CE3eW {border-radius: var(--expanded-border-radius) }
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {border-radius: var(--hover-border-radius) }
.clickable-1JJAn8 .layout-2DM8Md {border-radius: var(--hover-border-radius) }
.wrapper-2jXpOf .content-1x5b-n {border-radius: var(--hover-border-radius) }
.notice-3uyY6c, .notice-3bPHh- {background-color: var(--background-accent);top: 10px }
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {border-radius: var(--hover-border-radius) }
.clickable-1JJAn8 .layout-2DM8Md {border-radius: var(--hover-border-radius) }
.colorDefault-2K3EoJ.focused-3afm-j {border-radius: var(--hover-border-radius); }
.theme-dark .option-96V44q.selected-rZcOL- {border-radius: var(--hover-border-radius); }
.colorDefault-2K3EoJ.focused-3afm-j {border-radius: var(--hover-border-radius); }

/* Unread Pill */
.isUnread-3Ef-o9, .unreadPill-2HyYtt {border-color: var(--background-accent); background-color: var(--background-accent) }
.isUnread-3Ef-o9 .content-1o0f9g {color: var(--background-accent) }
.unreadPillCapStroke-7rkHbg { fill: var(--background-accent); color: var(--background-accent) }
