

/*  ------------------------------------------
             Lode Source Code
                  v0.1.3
              leeprky#2063
------------------------------------------  */

/* Imports */
@import url(https://raw.githack.com/leeprky/FullyThemedDiscord/main/FullyThemedDiscord.theme.css);


/* Source */

/* Shrink server banners to header instead of disappearing. */
[class*="animatedContainer-"] {
    opacity: 1 !important;
    transition: opacity .5s;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
    transition: margin .5s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
    opacity: .35 !important;
    height: 138px;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] [class*="bannerImage-"] {
    margin-top: -12px;
}

/* No note on user modal */
.note-3HfJZ5 { display: none; }
.footer-1fjuF6 { padding-bottom: 17.5px; margin-top: -15px }
.bodyTitle-Y0qMQz { display: none }
.bodyInnerWrapper-Z8WDxe:before { 
  content: 'Roles';
  font-weight: 700;
  font-size: 16px;
  margin-left: 85px;
  color: var(--header-secondary);
}
/* Activity Shadow None */
.activity-11LB_k {
    background-color: rgba(0, 0, 0, 0);
    padding: 16px;
}

/* Modal Popout */
.headerTop-3C2Zn0 {
  min-height: 250px;
  padding: 0;
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 {
  left: 0;
  bottom: 9px;
  top: -15px;
  width: 255px;
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 .wrapper-3t9DeA {
  height: 260px !important;
  width: 250px !important;
  left: -4px;
}
.avatarHint-1qgaV3 {width: 100%;height: 100%;border-radius: 0;}
.avatarHintInner-Dco91E {
  font-size: 0.4em;
  text-shadow: 1px 1px 3px rgb(221, 221, 221);
}
.headerTop-3C2Zn0 foreignObject {mask: none !important;}
.headerTop-3C2Zn0 rect {
  border-radius: 0;
  x: 0; y: 79.25;
  width: 80px;
  height: 3px;
  mask: none;
}
.headerText-2sdzFM {padding-bottom: 5px;}
.protip-YaFfgO {
  display: none;
}
/* --- */

/* No note on user modal */
.note-3HfJZ5 { display: none; }
.footer-1fjuF6 { padding-bottom: 17.5px; margin-top: -15px }
.bodyTitle-Y0qMQz { display: none }
.bodyInnerWrapper-Z8WDxe:before { 
content: 'Roles';
font-weight: 700;
font-size: 16px;
margin-left: 85px;
color: var(--header-secondary);
}
/* Activity Shadow None */
.activity-11LB_k {
  background-color: rgba(0, 0, 0, 0);
  padding: 16px;
}
