/*  ------------------------------------------
                  Lode Source
                   v1.0.7.1
                - leeprky#2063 -
    ------------------------------------------  */

/* My Base Imports */
@import url("https://leeprky.github.io/themes/lode/extra-variables.css");

    ::-webkit-scrollbar{display:var(--scrollbars)}
    .avatar-2e8lTP.clickable-31pE3P{width:48px;height:48px;left:12px}
    .message-2CShn3[role="listitem"]{width:calc(100% - 386px);border-radius:1em}
    .cozy-VmLDNB.wrapper-30-Nkg{margin-left:7px}
    .cozy-VmLDNB .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB),.cozy-VmLDNB .repliedMessage-3Z6XBG,.embedFull-1HGV2S,.message-2CShn3 .imageWrapper-oMkQl4,.wrapper-1HIH0j{background-color:var(--background-secondary);font-weight:500;margin-left:0!important;margin-top:4px!important;padding-left:0!important;padding:12px!important;border-radius:var(--chat-text-border-radius);width:max-content;max-width:80%;box-shadow:var(--elevation-low);overflow:visible!important;box-sizing:border-box}
    .repliedMessage-3Z6XBG{border-radius:12px}
    .container-rr3Ruk{border-radius:var(--chat-text-border-radius)!important;overflow:hidden}
    .container-rr3Ruk > div{border:none!important}
    .container-rr3Ruk code{padding:10px!important;background-color:var(--background-primary);border:1px solid var(--background-tertiary);border-top-right-radius:16px}
    .theme-dark .container-rr3Ruk code{background-color:var(--background-tertiary)}
    .message-2CShn3 .imageWrapper-oMkQl4{padding:0!important;max-width:100%!important;overflow:hidden!important}
    .embedGalleryImagesWrapper-3BWvNM{overflow:hidden;border-radius:var(--chat-text-border-radius);margin-top:20px}
    .embedGalleryImagesWrapper-3BWvNM .imageWrapper-oMkQl4{border-radius:0!important}
    .embedGallerySide-3zsYpc{margin-top:-4px}
    .cozy-VmLDNB .message-2CShn3:hover .wrapper-1HIH0j,.cozy-VmLDNB.message-2CShn3:hover .messageContent-2t3eCI,.message-2CShn3:hover .container-rr3Ruk,.message-2CShn3:hover .embedFull-1HGV2S,.message-2CShn3:hover .imageWrapper-oMkQl4{box-shadow:var(--elevation-medium)!important}
    .cozy-VmLDNB.systemMessage-1H1Z20 .messageContent-2t3eCI{border-top-left-radius:16px!important}
    .cozy-VmLDNB .blockquoteContainer-3VtvI1 blockquote{box-sizing:content-box!important;max-width:unset!important}
    .message-2CShn3 .wrapper-1HIH0j{padding:var(--chat-text-border-radius)!important;width:432px!important;background-color:var(--background-secondary)}
    .theme-dark .cozy-VmLDNB .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB),.theme-dark .embedFull-1HGV2S{background-color:var(--background-secondary);font-weight:400}
    .cozy-VmLDNB.message-2CShn3{background:0 0!important}
    .message-2CShn3::before{content:unset!important}
    .cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .container-rr3Ruk > div,.cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .embedFull-1HGV2S,.cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB){background-color:var(--background-tertiary)!important}
    .cozy-VmLDNB.message-2CShn3.mentioned-Tre-dv .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB){background-color:var(--background-mentioned)!important;border-left:2px solid var(--background-mentioned-bar)}
    .theme-dark .cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .container-rr3Ruk > div,.theme-dark .cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .embedFull-1HGV2S,.theme-dark .cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB){background-color:var(--background-secondary-alt)!important}
    .embedFull-1HGV2S{max-width:520px;width:auto!important}
    .embedFull-1HGV2S .grid-1aWVsE{padding:var(--chat-text-border-radius);padding-bottom:8px}
    .embedFull-1HGV2S .embedThumbnail-2nTasl{margin-left:12px!important}
    .cozy-VmLDNB .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB) pre{max-width:100%}
    .cozy-VmLDNB .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB) pre code{background-color:var(--background-primary);border-radius:0;border-radius:var(--chat-text-border-radius)}
    .theme-dark .cozy-VmLDNB .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB) pre code{background-color:var(--background-tertiary)}
    .cozy-VmLDNB .repliedMessage-3Z6XBG{margin-bottom:2px!important;background-color:var(--background-secondary-alt)}
    .cozy-VmLDNB .repliedMessage-3Z6XBG::before{content:unset!important}
    .cozy-VmLDNB .repliedMessage-3Z6XBG,.repliedMessage-3Z6XBG ~ .contents-2MsGLg > .messageContent-2t3eCI:first-of-type{width:60%!important;width:clamp(500px,100%,600px)!important}
    .executedCommand-14-SNW{height:unset!important}
    .cozy-VmLDNB .repliedMessage-3Z6XBG ~ .contents-2MsGLg > .messageContent-2t3eCI:first-of-type::before{content:"";position:absolute;bottom:100%;right:0;width:16px;height:16px;background-color:var(--background-secondary-alt)}
    .cozy-VmLDNB.wrapper-30-Nkg{display:flex;flex-direction:column}
    .cozy-VmLDNB .contents-2MsGLg{display:contents}
    .cozy-VmLDNB .contents-2MsGLg .header-2jRmjb{order:-1}
    .cozy-VmLDNB .contents-2MsGLg > span{order:-1}
    .cozy-VmLDNB .timestamp-p1Df1m{margin-right:10px;font-size:12px;align-content:baseline}
    .header-2jRmjb{margin-left:-2px;border-radius:var(--hover-border-radius);background-color:var(--background-secondary);width:fit-content;margin-bottom:3px}
    .headerText-2z4IhQ{margin-left:10px}
    .webkit-QgSAqd .buttons-uaqb-5{margin-right:5px;border-radius:var(--hover-border-radius)}
    [class*="animatedContainer-"]{opacity:1!important;transition:opacity .5s}
    [class*="animatedContainer-"] > [class*="bannerImage-"]{transition:margin .5s}
    :not([class*="bannerVisible-"]) > [class*="animatedContainer-"]{opacity:.35!important;height:138px}
    :not([class*="bannerVisible-"]) > [class*="animatedContainer-"] [class*="bannerImage-"]{margin-top:-12px}
    .sidebar-1tnWFu{width:220px}
    .note-3HfJZ5{display:none}
    .protip-YaFfgO{display:none}
    .note-3HfJZ5{display:none}
    .footer-1fjuF6{padding-bottom:17.5px;margin-top:-15px}
    .bodyTitle-Y0qMQz{display:none}
    .bodyInnerWrapper-Z8WDxe:before{content:"Roles";font-weight:700;font-size:16px;margin-left:85px;color:var(--header-secondary)}
    .container-q97qHp{font-size:12px;margin-left:2px}
    .channelName-3KPsGw,.subtitle-3PyFgf{font-size:14px}
    .icon-2W8DHg{width:17px;height:16px}
    .icon-3zI3d2{height:12px}
    .wrapper-NhbLHG{margin-right:8px}
    .notice-2HEN-u,.notice-1x8lm-{background-color:var(--background-accent);top:80px;opacity:.9;border-radius:1px 1px 12px 12px;left:220px;margin-right:482px;margin-top:-35px}
    .avatar-2e8lTP.clickable-31pE3P{border-radius:var(--avatar-border-radius);transition:.5s}
    .avatar-2e8lTP.clickable-31pE3P:hover{border-radius:var(--avatar-border-radius-hover);transition:.5s}
    .scrollableContainer-15eg7h{transition:.5s;background-color:var(--channeltextarea-background)}
    .scrollableContainer-15eg7h:hover{transition:.5s;background-color:var(--channeltextarea-background-hover)}
    .theme-dark .body-3iLsc4,.theme-dark .footer-1fjuF6{border-radius:12px}
    .userPopout-3XzG_A .footer-1fjuF6,.userPopout-3XzG_A .header-2BwW8b,.userPopout-3XzG_A .scroller-2FKFPG{margin-bottom:4.5px}
    .customStatus-1bh2V9{margin-bottom:10px}
    .accountList-305sx3{background-color:var(--background-secondary)}
    .userPopout-3XzG_A{background-color:var(--modal-normal-secondary-color);border-radius:var(--modal-border-radius)}
    .container-ZMc96U.themed-Hp1KC_{background:var(--background-primary)}
    .cozyMessage-1DWF9U:not(.systemMessage-1H1Z20) .markup-eYLPri .timestampInline-_lS3aK > [aria-label]::after{content:"(edited " attr(aria-label) ")";text-transform:lowercase;font-size:.625rem;font-weight:400;line-height:1}
    .cozyMessage-1DWF9U:not(.systemMessage-1H1Z20) .markup-eYLPri .timestampInline-_lS3aK .edited-1v5nT8{display:none}
    html:not(.app-focused) .content-3spvdd,html:not(.app-focused) .unreadPillCapStroke-1nE1Q8{fill:var(--background-modifier-accent);color:var(--background-modifier-accent)}
    html:not(.app-focused) .isUnread-3Lojb-{border-color:var(--background-modifier-accent)}
    html:not(.app-focused) .unreadPill-3nEWYM{background:var(--background-modifier-accent)}
    .divider-IqmEqJ{margin-left:1rem;margin-right:calc(0.875rem * 3 + 1px)}
    .unreadPill-3nEWYM{margin-right:calc(0.875rem * -2.5)}
    .cozy-VmLDNB .timestamp-p1Df1m{margin-right:10px;font-size:12px}
    .clickable-2AoIYN{margin-right:6.5px}
    .theme-dark .cozy-VmLDNB .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB),.theme-dark .embedFull-1HGV2S{background-color:var(--background-secondary);border-color:var(--background-accent);font-weight:400}
    .platform-win .container-2RRFHK{padding-top:22px;top:-22px;background-color:#181d29d0}
    div[class*="tipTitle-"]{color:rgba(var(--alt-color))!important;display:none}
    div[class*="tipTitle-"]:after{content:" | NO INTERNET LOL"}
    .topSectionSpotify-1lI0-P .contentImagesProfile-27BIzt{width:-webkit-fill-available;height:-webkit-fill-available}
    .topSectionSpotify-1lI0-P .fullWidth-fJIsjq{width:33px}
    .topSectionSpotify-1lI0-P .spotifyButtonLogo-2wqT62{left:8px;position:absolute}
    .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v{font-size:0}
    .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before{content:"Too Big";font-size:22px;font-weight:400}
    .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:after{content:"Get Better File";font-size:22px;font-style:italic}
    .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .instructions-272j2A{font-size:0;width:180px}
    .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .instructions-272j2A:after{content:"Idot";font-size:12px}
    .pictureInPictureWindow-3ms5Zy{width:440px;height:248px;opacity:40%}
    .pictureInPictureWindow-3ms5Zy:hover{opacity:100%}
    .premiumIcon-3PLiGh.icon-1dGlZy{color:#fff}
    .tabBar-2MuP6-{justify-content:center}
    .top-K_jibn:last-child .item-3XjbnG:last-child{margin-right:0}
    .searchResultsWrap-5RVOkx{width:800px}
    .role-2TIOKu{position:relative;overflow:hidden;border:none;padding:5px}
    .roleCircle-1EgnFN::before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:inherit;opacity:.2;pointer-events:none}
    .footer-1fjuF6{border-top:none}
    .name-3YKhmS{text-align:center}
    .messageGroupWrapper-1jf_7C{width:482px;border-radius:var(--hover-border-radius)}
    .messagesPopoutWrap-3zryHW{border-radius:var(--floating-border-radius);width:500px;height:1000px}
    .container-2gUZhU{margin-right:16px}
    .divider-IqmEqJ,.jumpToPresentBar-1cEnH0,.newMessagesBar-1hF-9G{width:calc(100% - 330px)}
    .guilds-2JjMmN{border-radius:var(--borders-radius)!important;margin-right:var(--borders-radius-right)!important;margin-left:var(--borders-radius-left)!important;margin-bottom:var(--borders-radius-bottom)!important;margin-top:var(--borders-radius-top)!important}
    .container-1NXEtd,.sidebar-1tnWFu,.unread-XRkyaQ{border-radius:var(--borders-radius)!important;margin-bottom:var(--borders-radius-bottom)!important;margin-top:var(--borders-radius-top)!important}
    .applicationStore-2nk7Lo,.chat-2ZfjoI,.container-2cd8Mz,.container-36u7Lw,.sidebar-1tnWFu{border-radius:var(--borders-radius)!important;margin-right:var(--borders-radius-right)!important;margin-bottom:var(--borders-radius-bottom)!important;margin-top:var(--borders-radius-top)!important}
    .applicationStore-2nk7Lo,.chat-2ZfjoI,.container-2cd8Mz,.container-36u7Lw{position:relative;left:-6px;margin-left:var(--borders-radius-left)!important;margin-top:var(--borders-radius-top)!important}
    .wordmark-2u86JB:after{content:var(--watermark-text);font-size:20px;font-weight:700;position:absolute;width:4000px;top:7px;color:var(--background-accent);margin-left:var(--watermark-text-left);font-family:Discord}
    .wordmark-2u86JB > svg{width:0}
    .iconWrapper-2awDjA[aria-label="Help"]{display:none}
    .unread-36eUEm{background-color:var(--background-accent);width:7.2px;height:7.2px;margin-top:-3.8px;margin-left:4px;border-radius:4px}
    #app-mount .privateChannels-oVe7HL .searchBar-3TnChZ{position:absolute;bottom:10px;right:10px;height:30px;width:30px;border:none;border-radius:40px;background:linear-gradient(to bottom right,var(--background-accent),var(--background-accent-gradient));box-shadow:2px 10px 10px var(--shadow,rgba(0,0,0,0.2))!important;overflow:hidden;cursor:pointer;transition:all .2s ease-in-out;pointer-events:all;padding:0}
    #app-mount .privateChannels-oVe7HL .searchBar-3TnChZ .searchBarComponent-3N7dCG{background-color:transparent!important}
    .privateChannels-oVe7HL .searchBar-3TnChZ .inner-1NoIT5{height:100%;width:100%}
    #app-mount .privateChannels-oVe7HL .searchBar-3TnChZ .searchBarComponent-3N7dCG::after{content:"";position:absolute;height:100%;width:30px;bottom:0;right:0;background:url(https://discordapp.com/assets/4d254296157bb8927b7d53ed59beb0d8.svg) center/20px no-repeat;pointer-events:none}
    #app-mount .privateChannels-oVe7HL .searchBar-3TnChZ .searchBarComponent-3N7dCG::before{content:"Search Direct Messages";position:absolute;top:50%;transform:translateY(-25%);width:180px;bottom:-10px;right:0;color:#fff;opacity:.5;font-size:12px;line-height:100%;transition:all .2s ease-in-out;pointer-events:none}
    #app-mount .privateChannels-oVe7HL .searchBar-3TnChZ .searchBarComponent-3N7dCG{color:transparent}
    #app-mount .privateChannels-oVe7HL .searchBar-3TnChZ:hover{width:200px}
    .privateChannels-oVe7HL .scrollerWrap-2lJEkd::after{content:"";position:absolute;top:0;left:0;height:48px;width:100%;border-bottom:2px solid var(--background-accent),var(--background-accent-gradient);box-sizing:border-box;z-index:9999}
    .privateChannels-oVe7HL .scrollerWrap-2lJEkd .scroller-2FKFPG{margin-top:50px}
    .search-1FM8Qc .searchBar-zdmu7v{width:25px;transition-duration:.6s}
    .search-1FM8Qc .searchBar-zdmu7v:hover{width:250px!important}
    .search-1FM8Qc.open-3y3yI_ .searchBar-zdmu7v{width:250px!important}
    .content-2a4AW9{margin-left:4px}
    .theme-dark .pageWrapper-2PwDoS{background-color:var(--background-secondary);border-radius:var(--borders-radius);margin-top:var(--borders-radius-top);margin-bottom:var(--borders-radius-bottom);margin-left:var(--borders-radius-left);margin-right:var(--borders-radius-right)}
    .unread-36eUEm{background-color:var(--background-accent);width:7.2px;height:7.2px;margin-top:-3.8px;margin-left:4px;border-radius:4px}
    .message-2CShn3 .wrapper-2vIMkT .button-3bklZh{margin:0 2px;border-radius:var(--hover-border-radius);background-color:var(--background-tertiary)}
    .message-2CShn3 .wrapper-2vIMkT .button-3bklZh:hover,.powercord-snippet-apply:not(.applied) div:hover{background-color:var(--background-modifier-selected)}
    .powercord-snippet-apply:not(.applied) div:hover{border-radius:var(--hover-border-radius)}
    .powercord-toast{display:flex;flex-direction:column;background-color:var(--toast-background);border:1px solid var(--toast-border);box-shadow:0 2px 10px 0 var(--toast-box-shadow);box-sizing:border-box;border-radius:12px 3px 12px 3px;position:absolute;animation:slide-in .5s ease,shake 1.4s cubic-bezier(0.36,0.07,0.19,0.97) both;max-width:600px;min-width:223px;width:320px;right:280px;bottom:90px;z-index:999}
    .group-spacing-16 .divider-IqmEqJ.beforeGroup-1BvJAt{right:35px}
    .wrapper-3t3Yqv{background-color:var(--background-secondary);border-radius:25px;padding:0}
    .colorable-3rVGna.white-11auuQ,.colorable-3rVGna.white-11auuQ .centerIcon-JYpTUi{color:currentColor}
    .centerButton-1IShs7,.colorable-3rVGna.primary-3NQg8g,.colorable-3rVGna.primary-3NQg8g.active-3D763s,.colorable-3rVGna.primary-3NQg8g:hover,.colorable-3rVGna.red-3T8maV,.colorable-3rVGna.white-11auuQ,.colorable-3rVGna.white-11auuQ.active-3D763s,.colorable-3rVGna.white-11auuQ:hover{background:0 0!important}
    .wrapper-1gVUIN.minimum-fXpVNc{background-image:var(--call-bg);background-color:var(--call-bg-color);background-position:center;background-size:cover;border-radius:12px;margin-left:12px;margin-right:18px;margin-top:12px}
    .icon-2xnN2Y{color:var(--text-normal)}
    .root-22AK9z{background-image:var(--call-bg);background-position:center;background-size:cover;border-radius:12px}
    .callContainer-HtHELf, .wrapper-1gVUIN.normal-qRirv5 {right: 0px; ;margin-left: 0px;}
    .videoControls-353CsJ {margin-left: 0px;}
    .quickSelectLabel-ArUyd9{display:none}
    @keyframes Gradient { 0%{background-position:0 50%} 50%{background-position:100% 50%} 100%{background-position:0 50%} }
    #app-mount .titleBar-1it3bQ{z-index:5;background-color:var(--background-secondary);border-radius:var(--titlebar-borders-radius)!important;margin-top:var(--titlebar-borders-radius-top)!important;margin-bottom:var(--titlebar-borders-radius-bottom)!important;margin-right:var(--titlebar-borders-radius-right)!important;margin-left:var(--titlebar-borders-radius-left)!important;padding-top:0}
    #app-mount .titleBar-1it3bQ .wordmark-2u86JB svg{width:0}
    #app-mount .titleBar-1it3bQ .wordmark-2u86JB::after{content:var(--watermark-text);position:absolute;font-family:Discord;background:linear-gradient(var(--watermark-gradient));animation:Gradient 4s ease infinite;-webkit-background-clip:text;-webkit-text-fill-color:transparent;background-clip:text;background-size:200% 200%;font-weight:600;top:var(--watermark-text-top)}
    .sidebar-nqHbhN{width:280px;margin-right:10px}
    .header-2Kx1US{font-size:16px;color:var(--background-accent)}
    .sidebarRegionScroller-FXiQOh{border-radius:12px;margin-left:10px;margin-bottom:12px}
    .contentRegionScroller-2_GT_N{border-radius:12px;margin-left:10px;margin-bottom:12px;margin-right:12px}
    .contentRegion-3HkfJJ{border-radius:12px;margin-left:10px;margin-bottom:12px;margin-right:12px}
    .sidebarRegion-1VBisG{flex-grow:0}
    .contentColumnDefault-3eyv5o{max-width:calc(100% - 60px)}
    .contentRegion-3HkfJJ .contentColumn-1C7as6{max-width:100%}
    .contentRegion-3HkfJJ .contentColumn-1C7as6 .features-6z-RVS .video-293uMj{width:fit-content;margin-right:auto;margin-left:auto}
    .contentRegion-3HkfJJ .contentColumn-1C7as6 .features-6z-RVS .feature-2sPtnu > div:last-child{width:100%}
    .contentRegion-3HkfJJ .contentColumn-1C7as6 .features-6z-RVS .feature-2sPtnu > div:last-child .description-22Sl9U,.contentRegion-3HkfJJ .contentColumn-1C7as6 .features-6z-RVS .feature-2sPtnu > div:last-child > .title-2pQsrN{text-align:end}
    .contentRegion-3HkfJJ .contentColumn-1C7as6 .attendeeCTA-1R6USz{border:0}
    .contentRegion-3HkfJJ .content-2ssVKB{max-width:100%}
    .contentRegion-3HkfJJ .customColumn-2n-oKU{max-width:100%}
    .contentRegion-3HkfJJ .customColumn-2n-oKU .customScroller-m1-jZn > .flex-2S1XBF{max-width:100%}
    .contentRegion-3HkfJJ .customColumn-2n-oKU .content-2a4AW9{max-width:100%}
    .customScroller-m1-jZn > div{max-width:100%}
    .contentColumnDefault-3eyv5o{max-width:calc(83vw)!important}
    .scrollableContainer-15eg7h{background-color:var(--channeltextarea-background);border-radius:var(--chatbox-border-radius);padding-top:5px}
    .inner-NQg18Y{margin-top:5px}
    .textAreaSlate-9-y-k2{margin-top:-5px}
    .attachWrapper-3slhXI,.button-3BaQ4X{margin-top:-8px}
    .form-3gdLxP{margin-right:255px}
    .panels-3wFtMD{bottom:1.8em}
    .membersWrap-3NUR2t{height:calc(100% - 95px)}
    .mention-3XBnnZ{background-color:var(--background-accent)}
    .contentRegionScroller-2_GT_N .tools-kIrEGr{margin-left:20px;margin-top:-50px}
    .contentTransitionWrap-1YD530{margin-left:-15px;width:0}
    .powercord-quickcss{height:1125px;border-radius:var(--borders-radius)}
    [class="developerPortalCta-3qs8qH button-f2h6uQ lookFilled-yCfaCM colorBrand-I6CyqQ sizeMedium-2bFIHr grow-2sR_-F"]{display:none}
    .bfl-title{margin-top:25px;color:var(--background-accent);margin-left:-1270px;font-size:14px}
    .header-13Cw0-{margin-top:-10px;color:var(--background-accent);font-size:14px;margin-bottom:7px}
    .peopleList-2VBrVI{margin-top:-12px}
    .peopleListItem-u6dGxF{margin-left:10px;border-color:transparent}
    .nowPlayingScroller-12BxFW{margin-top:13px}
    .platform-win .scroller-3X7KbA{margin-top:-16px}
    [class="progressBar-1T6LYX small-1bZsRQ animating-2CraY5"]{background:linear-gradient(var(--toast-gradient))!important}
    .container-A2jo65{width:calc(100% - 0px);border-radius:12px;margin-bottom:5px}
    .header-3OsQeK{margin-top:-5px}
    .layout-1qmrhw{margin-right:10px}
    .notice-2HEN-u,.notice-1x8lm-{border-radius:var(--hover-border-radius);margin-left:15px;margin-right:500px;top:100px}
    .warning-RBGtx2{background:var(--background-help-warning);border:1px solid var(--yellow-color);color:var(--interactive-active)}
    .warning-RBGtx2 .icon-2fP4ae{color:#1px solid var(--yellow-color)}
    .theme-dark .channelWarning-3e1Pz4,.theme-dark .warningIcon-2dFY7P{color:var(--yellow-color)}
    .content-1Tgc42{margin-left:-30px;margin-right:9px;border-radius:12px}
    .label-2gNW3x{margin-left:30px}
    .container-1a3EgQ{margin-left:var(--borders-radius-left);right:var(--borders-radius-right);border-radius:var(--borders-radius);margin-bottom:var(--borders-radius-bottom);margin-top:var(--borders-radius-top)}
    .searchResultsWrap-5RVOkx{right:unset;width:calc(100% - 15px);margin-left:.5em}
    .jumpToPresentBar-1cEnH0 { bottom: 12px; border-radius: var(--hover-border-radius); opacity: .85; padding-bottom: 1px;}
    .newMessagesBar-1hF-9G { top: 2px; border-radius: var(--hover-border-radius); opacity: .85; padding-bottom: 1px; }
    .description-3Cwkxk { display: none; }
    [class="rightTrayIcon-1m3hnG button-f2h6uQ lookBlank-21BCro colorBrand-I6CyqQ grow-2sR_-F"] {right: 260px;}
    .submenu-1apzyU { min-width: 188px;max-width: 320px;margin-left: -10px;}
    .tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {border-top-color: var(--background-accent)  !important; }
    .scroller-2qwVWY,
    .input-3r5zZY {margin-right:-1px;border-radius: -10px;outline: 1px solid rgb(152, 152, 255);}
    .scroller-2qwVWY:focus-within,
    .input-3r5zZY:focus-within {margin-left:-2px!important;width: 535px;height: 78px;border-radius: -10px;outline: 1px solid rgb(152, 152, 255);}
