/*  ------------------------------------------
             Lode Source Code
                  v0.1.8.1
              leeprky#2063
------------------------------------------  */

/* Lode Source Code*/

::-webkit-scrollbar {
  display: none;
}

    /* Lode Chat */
.avatar-1BDn8e.clickable-1bVtEA {
  width: 48px;
  height: 48px;
  left: 12px
}
.message-2qnXI6[role="listitem"] {
  width: calc(100% - 386px);
  border-radius: 1em;
}
.cozy-3raOZG.wrapper-2a6GCs {
  margin-left: 7px;
}

    /* Tear Drop Messages By Freeplay Edits By Me*/

.cozy-3raOZG .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK), .embedFull-2tM8--, .wrapper-35wsBm,
.message-2qnXI6 .imageWrapper-2p5ogY,
.cozy-3raOZG .repliedMessage-VokQwo {
    background-color: var(--background-secondary);
    font-weight: 500;
    margin-left: 0 !important;
    margin-top: 4px !important;
    padding-left: 0 !important;
    padding: 12px 12px !important;
    border-radius: var(--chat-text-border-radius);
    width: max-content;
    max-width: 80%;
    box-shadow: var(--elevation-low);
    overflow: visible !important;
    box-sizing: border-box;
}
.repliedMessage-VokQwo {
  border-radius: 12px;
}

/* File Previews */
.container-1pMiXm {
  border-radius: var(--chat-text-border-radius) !important;
    overflow: hidden;
}
.container-1pMiXm > div {
    border: none !important;
}
.container-1pMiXm code {
    padding: 10px !important;
    background-color: var(--background-primary);
    border: 1px solid var(--background-tertiary);
    border-top-right-radius: 16px;
}
.theme-dark .container-1pMiXm code {
    background-color: var(--background-tertiary);
}

/* Images */
.message-2qnXI6 .imageWrapper-2p5ogY {
    padding: 0 !important;
    max-width: 100% !important;
    overflow: hidden !important;
}
/* Images in embeds */
.embedGalleryImagesWrapper-2Qn2vv {
    overflow: hidden;
    border-radius: var(--chat-text-border-radius);
    margin-top: 20px;
}
.embedGalleryImagesWrapper-2Qn2vv .imageWrapper-2p5ogY {
    border-radius: 0 !important;
}
.embedGallerySide-1Hu9Bp {
    margin-top: -4px;
}

.cozy-3raOZG.message-2qnXI6:hover .messageContent-2qWWxC, .message-2qnXI6:hover .embedFull-2tM8--, .cozy-3raOZG .message-2qnXI6:hover .wrapper-35wsBm,
.message-2qnXI6:hover .imageWrapper-2p5ogY,
.message-2qnXI6:hover .container-1pMiXm {
    box-shadow: var(--elevation-medium) !important;
}

.cozy-3raOZG.systemMessage-1I9LCe .messageContent-2qWWxC {
    border-top-left-radius: 16px !important;
}
.cozy-3raOZG .blockquoteContainer-U5TVEi blockquote {
    box-sizing: content-box !important;
    max-width: unset !important;
}
.message-2qnXI6 .wrapper-35wsBm { /* Invited to Server box */
    padding: var(--chat-text-border-radius)!important;
    width: 432px !important;
    background-color: var(--background-secondary);
}
.theme-dark .cozy-3raOZG .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK), .theme-dark .embedFull-2tM8-- {
    background-color: var(--background-secondary);
    font-weight: 400;
}

.cozy-3raOZG.message-2qnXI6 {
    background: none !important;
}
.message-2qnXI6::before {
    content: unset !important;
}
.cozy-3raOZG.message-2qnXI6.selected-2P5D_Z .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK),
.cozy-3raOZG.message-2qnXI6.selected-2P5D_Z .embedFull-2tM8--,
.cozy-3raOZG.message-2qnXI6.selected-2P5D_Z .container-1pMiXm > div {
    background-color: var(--background-tertiary) !important;
}
.cozy-3raOZG.message-2qnXI6.mentioned-xhSam7 .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) {
    background-color: var(--background-mentioned) !important;
    border-left: 2px solid var(--background-mentioned-bar);
}

.theme-dark .cozy-3raOZG.message-2qnXI6.selected-2P5D_Z .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK),
.theme-dark .cozy-3raOZG.message-2qnXI6.selected-2P5D_Z .embedFull-2tM8--,
.theme-dark .cozy-3raOZG.message-2qnXI6.selected-2P5D_Z .container-1pMiXm > div {
    background-color: var(--background-secondary-alt) !important;
}
.embedFull-2tM8-- {
    max-width: 520px;
    width: auto !important;
}
.embedFull-2tM8-- .grid-1nZz7S {
    padding: var(--chat-text-border-radius);
    padding-bottom: 8px;
}
.embedFull-2tM8-- .embedThumbnail-2Y84-K {
    margin-left: 12px !important;
}
.cozy-3raOZG .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) pre {
    max-width: 100%;
}
.cozy-3raOZG .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) pre code {
    background-color: var(--background-primary);
    border-radius: 0;
    border-radius: var(--chat-text-border-radius);
}
.theme-dark .cozy-3raOZG .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) pre code {
    background-color: var(--background-tertiary);
}
/* Replies */
.cozy-3raOZG .repliedMessage-VokQwo {
    margin-bottom: 2px !important;
    background-color: var(--background-secondary-alt);
}
.cozy-3raOZG .repliedMessage-VokQwo::before {
    content: unset !important;
}
.cozy-3raOZG .repliedMessage-VokQwo, .repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type {
    width: 60% !important;
    width: clamp(500px, 100%, 600px) !important;
}

/* Fix slash commands */
.executedCommand-2GE3w2 {
    height: unset !important;
}
/* Cover reply border radius */
.cozy-3raOZG .repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 16px;
    height: 16px;
    background-color: var(--background-secondary-alt);
}
/* .message-2qnXI6, .message-2DieIs { */
.cozy-3raOZG.wrapper-2a6GCs {
    display: flex;
    flex-direction: column;
}
.cozy-3raOZG .contents-2mQqc9 {
    display: contents;
}
.cozy-3raOZG .contents-2mQqc9 .header-23xsNx {
    order: -1;
}
.cozy-3raOZG .contents-2mQqc9 > span {
    order: -1;
}

/* My Additonal Chat Things */
.cozy-3raOZG .timestamp-3ZCmNB {
  margin-right: 10px;
  font-size: 12px;
  align-content: baseline;
}
.header-23xsNx {
  margin-left: -2px;
  border-radius: var(--hover-border-radius);
  background-color: var(--background-secondary);
  width: fit-content;
  margin-bottom: 3px;
}
.headerText-3Uvj1Y {
  margin-left: 10px;
}
    .webkit-HjD9Er .buttons-3JBrkn {
      margin-right: 5px;
      border-radius: var(--hover-border-radius);
  }
/* --- */

/* Shrink server banners to header instead of disappearing. */
[class*="animatedContainer-"] {
    opacity: 1 !important;
    transition: opacity .5s;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
    transition: margin .5s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
    opacity: .35 !important;
    height: 138px;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] [class*="bannerImage-"] {
    margin-top: -12px;
}

/* Channel List Shrink */
.sidebar-2K8pFh {
  width: 220px;
}

/* No note on user modal */
.note-3HfJZ5 { display: none; }
.footer-1fjuF6 { padding-bottom: 17.5px; margin-top: -15px }
.bodyTitle-Y0qMQz { display: none }
.bodyInnerWrapper-Z8WDxe:before { 
  content: 'Roles';
  font-weight: 700;
  font-size: 16px;
  margin-left: 85px;
  color: var(--header-secondary);
}
/* Activity Shadow None */
.activity-11LB_k {
    background-color: rgba(0, 0, 0, 0);
    padding: 16px;
}

/* Modal Popout */
.headerTop-3C2Zn0 {
  min-height: 250px;
  padding: 0;
  background-color: var(--modal-normal-secondary-color);
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 {
  left: 0;
  bottom: 9px;
  top: -15px;
  width: 255px;
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 .wrapper-3t9DeA {
  height: 260px !important;
  width: 250px !important;
  left: -4px;
}
.avatarHint-1qgaV3 {width: 100%;height: 100%;border-radius: 0;}
.avatarHintInner-Dco91E {
  font-size: 0.4em;
  text-shadow: 1px 1px 3px rgb(221, 221, 221);
}
.headerTop-3C2Zn0 foreignObject {mask: none !important;}
.headerTop-3C2Zn0 rect {
  border-radius: 0;
  x: 0; y: 79.25;
  width: 80px;
  height: 3px;
  mask: none;
}
.headerText-2sdzFM {padding-bottom: 5px;}
.protip-YaFfgO {
  display: none;
}
/* --- */

/* No note on user modal */
.note-3HfJZ5 { display: none; }
.footer-1fjuF6 { padding-bottom: 17.5px; margin-top: -15px }
.bodyTitle-Y0qMQz { display: none }
.bodyInnerWrapper-Z8WDxe:before { 
content: 'Roles';
font-weight: 700;
font-size: 16px;
margin-left: 85px;
color: var(--header-secondary);
}
/* Activity Shadow None */
.activity-11LB_k {
  background-color: rgba(0, 0, 0, 0);
  padding: 16px;
}

/* Smaller Channel Text */
.container-2ax-kl {font-size: 12px;margin-left: 2px; }
.channelName-2YrOjO, .subtitle-3V1p2E {font-size: 14px; }
.icon-1DeIlz {width: 17px; height: 16px; }
.icon-2yIBmh {height: 12px;}
.wrapper-2jXpOf { margin-right: 8px;}

/* Notice Bar On Chat */
.notice-3uyY6c, .notice-3bPHh- {
  background-color: var(--background-accent);
  top: 80px;
  opacity: 0.9;
  border-radius: 1px 1px 12px 12px;
  left: 220px;
  margin-right: 482px;
  margin-top: -35px;
}

/* Chat Avatars */
.avatar-1BDn8e.clickable-1bVtEA {
  border-radius: var(--avatar-border-radius);
  transition: 0.5s
}
.avatar-1BDn8e.clickable-1bVtEA:hover {
  border-radius: var(--avatar-border-radius-hover);
  transition: 0.5s
}

/* Chatbox Transition */
.scrollableContainer-2NUZem {
  transition: 0.5s;
  background-color: var(--channeltextarea-background);
}
.scrollableContainer-2NUZem:hover {
  transition: 0.5s;
  background-color: var(--channeltextarea-background-hover);
}

/* Fix Rounding On Modal */
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
  border-radius: 12px;
}
.userPopout-3XzG_A .header-2BwW8b, .userPopout-3XzG_A .scroller-2FKFPG, .userPopout-3XzG_A .footer-1fjuF6 {
  margin-bottom: 4.5px;
}
.customStatus-1bh2V9 {
  margin-bottom: 10px;
}
.accountList-33MS45 {
  background-color: var(--background-secondary);
}
.userPopout-3XzG_A {background-color: var(--modal-normal-secondary-color);border-radius: var(--modal-border-radius);}

/* TopBar */
.container-1r6BKw.themed-ANHk51 {
  background: var(--background-primary);
}


       /* Edited At Date */

       .cozyMessage-3V1Y8y:not(.systemMessage-1I9LCe) .markup-2BOw-j .timestampInline-yHQ6fX>[aria-label]::after{
        content:"(edited " attr(aria-label) ")";
        text-transform: lowercase;
        font-size: 0.625rem;
        font-weight: 400;
        line-height: 1;
      }
      .cozyMessage-3V1Y8y:not(.systemMessage-1I9LCe) .markup-2BOw-j .timestampInline-yHQ6fX .edited-3sfAzf{
        display: none;
      }

/* New Message Focus */
html:not(.app-focused) .unreadPillCapStroke-7rkHbg,html:not(.app-focused) .content-1o0f9g{
  fill: var(--background-modifier-accent);
  color: var(--background-modifier-accent);
}
html:not(.app-focused) .isUnread-3Ef-o9{
  border-color: var(--background-modifier-accent);
}
html:not(.app-focused) .unreadPill-2HyYtt{
  background: var(--background-modifier-accent);
}
.divider-3_HH5L {
  margin-left: 1rem;
  margin-right: calc(.875rem * 3 + 1px);
}
.unreadPill-2HyYtt {
  margin-right: calc(.875rem * -2.5);
}

    /* Chat Stuff */
.cozy-3raOZG .timestamp-3ZCmNB {
  margin-right: 10px;
  font-size: 12px;
}
.clickable-536fPF {
  margin-right: 6.5px;
}

/* Embeds */
.theme-dark .cozy-3raOZG .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK), .theme-dark .embedFull-2tM8-- {
  background-color: var(--background-secondary);
  border-color: var(--background-accent);
  font-weight: 400;
}

/* No Internet */
.platform-win .container-16j22k {
  padding-top: 22px;
  top: -22px;
  background-color: #181d29d0;
}

div[class*="tipTitle-"] {
  color: rgba(var(--alt-color)) !important;
  display: none;
}

div[class*="tipTitle-"]:after {
  content: " | NO INTERNET LOL";
}

/* Spotify Shorter */
.topSectionSpotify-1lI0-P .contentImagesProfile-1Mz07W {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.topSectionSpotify-1lI0-P .fullWidth-1orjjo {
  width: 33px;
}
.topSectionSpotify-1lI0-P .spotifyButtonLogo-3uT57D {
  left: 8px;
  position: absolute;
}


/*Hide the original file size was too big text*/
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y {
  font-size: 0px;
  }
  /*Replace the text with the first half "That was" but no bold*/
  .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y:before {
  content: 'That was';
  font-size: 22px;
  font-weight: normal;
  }
  /*Add the second half with italics*/
  .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y:after {
  content: ' fucking gay';
  font-size: 22px;
  font-style: italic;
  }
  /*Hide the original file size limit text, also make the width a little smaller*/
  .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG {
  font-size: 0px;
  width: 180px;
  }
  /*Replace the text with the funny*/
  .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG:after {
  content: "Don't ever post that bullshit again you fucking degenerate";
  font-size: 12px;
  }

  /* Chat rounded */
/*absol#0666 x LuckFire#4800*/


.sidebar-2K8pFh, .chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv {
  border-radius: 15px 15px 0 0 !important
}

.chat-3bRxxu, .container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {
  position: relative;
  left: 5px;
  padding-right: 5px
}

/* Transparent screenshare/call*/
/* absol#0666 */

.pictureInPictureWindow-1B5qSe{
  width: 440px;
  height: 248px;
  opacity: 40%;
}

.pictureInPictureWindow-1B5qSe:hover{
      opacity: 100%;
}

.premiumIcon-1rDbWQ.icon-1A2_vz {
  color:white;
}

/* Center profile tabs */
.tabBar-2MuP6-{ justify-content: center; }
.top-28JiJ-:last-child .item-PXvHYJ:last-child { margin-right: 0; }

/* Wider search results section */
.searchResultsWrap-3-pOjs{ width: 800px; }


/* Better roles */
.role-2irmRk {
  position: relative;
  overflow: hidden;
  border: none;
  padding: 5px;
}
.roleCircle-3xAZ1j::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: .2;
  pointer-events: none;
}
.footer-1fjuF6 {
  border-top: none;
}

/* Center server name */
.name-3YKhmS{ text-align: center; }


    /* Pinned */
    .messageGroupWrapper-o-Zw7G {
      width: 482px;
      border-radius: var(--hover-border-radius);
  }
  .messagesPopoutWrap-1MQ1bW {
    border-radius: var(--floating-border-radius);
    width: 500px;
    height: 1000px;
}
/* Fixes To Chat */
.container-3npvBV {
  margin-right: 16px;
}
.newMessagesBar-265mhP, .jumpToPresentBar-G1R9s6, .divider-3_HH5L {
  width: calc(100% - 330px);
}

/** Replace discord watermark text **/
.wordmark-2iDDfm:after {
  content: var(--watermark-text);
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  width: 4000px;
  top: 7px;
  padding-left: -4px;
  color: var(--background-accent);
  margin-left: 5px;
  font-family: "Discord";
}
.wordmark-2iDDfm > svg {
  width: 0px;
}
/** Add icon to watermark **/
/*
.wordmark-2iDDfm {
  left: 25px;
}
.wordmark-2iDDfm:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 50px;
  bottom: 0;
  top: 6px;
  right: 0;
  background: url(https://i.imgur.com/KgDzLI5.png) center/20px no-repeat;
}

/* Spotify Plugin Fix */
    .panels-j1Uci_ {
      z-index: 3;
    }
    .panels-j1Uci_::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      backdrop-filter: blur(var(--album-blur-amount));
    }
    [style*="background-image:"] .powercord-spotify:hover, [style*="background-image:"] > .container-3baos1:hover, [style*="background-image:"] .wrapper-24pKcD:hover {
      position: relative;
      z-index: 3;
    }
    [style*="background-image:"] .powercord-spotify:hover::after, [style*="background-image:"] > .container-3baos1:hover::after, [style*="background-image:"] .wrapper-24pKcD:hover::after {
      backdrop-filter: brightness(70%);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
    .panels-j1Uci_ {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
